<!--
   @File Name          : ct_AlumniRegistrationForm.html
   @Description        : Alumni Registration form in Lightning Web Component
   @Author             : Creation Admin
   @Last Modified By   : Creation Admin
   @Last Modified On   : 07-06-2020
   @Modification Log   : 
   Ver       Date            Author      		    Modification
   1.0    2/27/2020   Creation Admin     Initial Version
   -->
<template>
    <!-- <div class="" style="width:100%">
      <div class="slds-align_absolute-center" >
        <img src={uopLogoUrl} style={getLogoStyle} />
      </div>
    </div> -->
    <input type="radio" style="opacity: 0;" data-id="topElement" id="topElem" class="topElement">

    <template if:true={showSpinnerBoolean}>
       <div>
          <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
       </div>
    </template>
<!-- Custom Toast Message to show Success and Error Message-->
<template if:true={showErrorcustomToast}>
       <div class="slds-notify_container">
          <div class="slds-notify slds-notify--toast slds-theme--error" role="alert">
             <span class="slds-assistive-text">Error</span>
             <span>
                <lightning-icon class="slds-p-right--small" icon-name="utility:error" variant="inverse" alternative-text="Error" title="Error"></lightning-icon>
             </span>
             <lightning-button-icon icon-name="utility:close" class="slds-button slds-notify__close slds-button--icon-inverse" variant="bare-inverse" alternative-text="Close" title="Close" onclick={onErrorMessageClose}></lightning-button-icon>
             <div class="slds-notify__content">
                <p>{customToastMessage}</p>
             </div>
          </div>
       </div>
    </template>
<template if:true={showSuccessCustomToast}>
       <div class="slds-notify_container">
          <div class="slds-notify slds-notify--toast slds-theme_success" role="alert">
             <span class="slds-assistive-text">Error</span>
             <span>
                <lightning-icon class="slds-p-right--small" icon-name="utility:success" variant="inverse" alternative-text="Success" title="Approved"></lightning-icon>
             </span>
             <lightning-button-icon icon-name="utility:close" class="slds-button slds-notify__close slds-button--icon-inverse" variant="bare-inverse" alternative-text="Close" title="Close" onclick={onErrorMessageClose}></lightning-button-icon>
             <div class="slds-notify__content">
                <p>{customToastMessage}</p>
             </div>
          </div>
       </div>
    </template>
<!---->
<template if:true={isAlumniRegisterSuccessfully}> 
<div class="thankYouClass slds-align_absolute-center slds-p-top--small" style={thankYouFontStyle}>
    <b>
    Thank you for your Registration.
    </b>
</div>
</template>
<template if:false={isAlumniRegisterSuccessfully}>
       <template if:true={alumniObject}>
          <div class="slds-container--center slds-p-vertical--small slds-p-horizontal_large" style={getMainDivWidth}>
             <div class="uopHeading slds-p-vertical--xx-small">Your details</div>
             <label class="slds-form-element__label uopInputFieldLabel" for="salutationInput"> {alumniMetaDataObject.Salutation.Web_Label__c}
             </label>
             <lightning-combobox 
                variant="label-hidden"
                name="Salutation"
                class="alumniformField inputFieldPlaceHolder" 
                label={alumniMetaDataObject.Salutation.Web_Label__c}
                id="SalutationInput"
                placeholder={alumniMetaDataObject.Salutation.Web_Placeholder__c} 
                value={alumniObject.Salutation} 
                options={pickListValuesObject.Salutation}
                onchange={onInputFieldOnChange}> 
              </lightning-combobox>
            
             <div class={getNameClass}>
                <div class="slds-col--padded">
                   <label class="slds-form-element__label uopInputFieldLabel" for="FirstNameInput">
                   <abbr class="slds-required" title="required">*</abbr> {alumniMetaDataObject.FirstName.Web_Label__c}
                   </label>
                   <lightning-input type="text" 
                      id="FirstNameInput" 
                      variant="label-hidden" 
                      maxlength="30"
                      class="alumniformField inputFieldPlaceHolder" 
                      onchange={onInputFieldOnChange} 
                      name="FirstName" 
                      placeholder={alumniMetaDataObject.FirstName.Web_Placeholder__c} 
                      label={alumniMetaDataObject.FirstName.Web_Label__c} 
                      value={alumniObject.FirstName}
                      pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field" 
                      required></lightning-input>
                </div>
                <!-- <div class="slds-col--padded">
                   <label class="slds-form-element__label uopInputFieldLabel" for="MiddleNameInput">{alumniMetaDataObject.MiddleName.Web_Label__c}</label>
                   <lightning-input 
                      type="text" 
                      id="MiddleNameInput"
                      maxlength="30"
                      class="alumniformField inputFieldPlaceHolder" 
                      message-when-pattern-mismatch ="Name should contain only alphanumeric"
                      pattern = "^[a-zA-Z0-9]+(\s[a-zA-Z0-9]+)?$"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange}  
                      placeholder={alumniMetaDataObject.MiddleName.Web_Placeholder__c} 
                      name="MiddleName" 
                      label={alumniMetaDataObject.MiddleName.Web_Label__c} 
                      value={alumniObject.MiddleName}></lightning-input>
                </div> -->
                <div class="slds-col--padded">
                   <label class="slds-form-element__label uopInputFieldLabel" for="LastNameInput"><abbr class="slds-required" title="required">*</abbr> {alumniMetaDataObject.LastName.Web_Label__c}
                   </label>
                   <lightning-input 
                      type="text" 
                      id="LastNameInput"
                      class="alumniformField inputFieldPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="LastName" 
                      placeholder={alumniMetaDataObject.LastName.Web_Placeholder__c} 
                      label={alumniMetaDataObject.LastName.Web_Label__c} 
                      value={alumniObject.LastName} 
                      pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field"
                      required></lightning-input>
                </div>
             </div>
             <label class="slds-form-element__label uopInputFieldLabel" for="EmailInput"><abbr class="slds-required" title="required">*</abbr>{alumniMetaDataObject.hed__AlternateEmail__c.Web_Label__c}
             </label>
            <lightning-input 
                type="email" 
                id="EmailInput"
                variant="label-hidden" 
                class="alumniformField inputFieldPlaceHolder"
                onchange={onInputFieldOnChange} 
                name="hed__AlternateEmail__c" 
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,15})$"
                message-when-type-mismatch="Please enter a valid email address"
                message-when-pattern-mismatch ="Please enter a valid email address"

                placeholder={alumniMetaDataObject.hed__AlternateEmail__c.Web_Placeholder__c} 
                label={alumniMetaDataObject.hed__AlternateEmail__c.Web_Label__c} 
                value={alumniObject.hed__AlternateEmail__c} 
                required></lightning-input>
             <label class="slds-form-element__label uopInputFieldLabel" for="BirthdateInput"><abbr class="slds-required" title="required">*</abbr> {alumniMetaDataObject.Birthdate.Web_Label__c}
             </label>
             <lightning-input 
                type="date" 
                id="BirthdateInput"
                variant="label-hidden"
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onDateInputFieldOnChange} 
                name="Birthdate"  
                message-when-range-overflow="Birthdate should not be in future"
                label={alumniMetaDataObject.Birthdate.Web_Label__c} 
                placeholder={alumniMetaDataObject.Birthdate.Web_Placeholder__c} 
                value={alumniObject.Birthdate}
                max={todayDate}
                required 
                date-style="short"></lightning-input>
             <label class="slds-form-element__label uopInputFieldLabel" for="MobilePhoneInput">{alumniMetaDataObject.MobilePhone.Web_Label__c}</label>
             <lightning-input 
                type="tel"
                variant="label-hidden"
                id="MobilePhoneInput"
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange} 
                message-when-pattern-mismatch ="please enter a valid phone number"
                pattern = "[0-9-+()]*$"
                name="MobilePhone"  
                max-length="15"
                label={alumniMetaDataObject.MobilePhone.Web_Label__c}
                placeholder={alumniMetaDataObject.MobilePhone.Web_Placeholder__c} 
                value={alumniObject.MobilePhone}></lightning-input>
             <label class="slds-form-element__label uopInputFieldLabel" for="PhoneInput">{alumniMetaDataObject.Phone.Web_Label__c}</label>
             <lightning-input 
                type="tel"
                variant="label-hidden"
                id="PhoneInput"
                class="alumniformField inputFieldPlaceHolder" 
                message-when-pattern-mismatch ="Please enter a valid phone number"
                pattern = "[0-9-+()]*$"
                max-length="15"
                onchange={onInputFieldOnChange}  
                name="Phone" 
                label={alumniMetaDataObject.Phone.Web_Label__c} 
                placeholder={alumniMetaDataObject.Phone.Web_Placeholder__c} 
                value={alumniObject.Phone}></lightning-input>
             <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
             <div class="uopHeading slds-p-vertical--xx-small">Address details</div>
             <c-ct_-address-validator onaddressresults={handleSelectedAddress}></c-ct_-address-validator>
             <label class="slds-form-element__label uopInputFieldLabel" for="MailingStreetInput"><abbr class="slds-required" title="required">*</abbr> {alumniMetaDataObject.MailingStreet.Web_Label__c}</label>
             <lightning-textarea 
                variant="label-hidden"
                id="MailingStreetInput"
                name="MailingStreet" 
                label={alumniMetaDataObject.MailingStreet.Web_Label__c} 
                value={alumniObject.MailingStreet} 
                onchange={onInputFieldOnChange}  
                class="alumniformField inputFieldPlaceHolder" 

                required
                placeholder={alumniMetaDataObject.MailingStreet.Web_Placeholder__c}></lightning-textarea>
             <label class="slds-form-element__label uopInputFieldLabel" for="MailingCityInput">{alumniMetaDataObject.MailingCity.Web_Label__c}</label>
             <lightning-input 
                variant="label-hidden"
                id="MailingCityInput"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange}  
                name="MailingCity"  
                label={alumniMetaDataObject.MailingCity.Web_Label__c} 
                placeholder={alumniMetaDataObject.MailingCity.Web_Placeholder__c} 
                value={alumniObject.MailingCity}></lightning-input>
             <label class="slds-form-element__label uopInputFieldLabel" for="MailingStateInput">{alumniMetaDataObject.MailingState.Web_Label__c}</label>
             <lightning-input 
                type="text" 
                variant="label-hidden"
                id="MailingStateInput"
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange}  
                name="MailingState"  
                label={alumniMetaDataObject.MailingState.Web_Label__c} 
                placeholder={alumniMetaDataObject.MailingState.Web_Placeholder__c} 
                value={alumniObject.MailingState}></lightning-input>
                <input type="text" style="opacity: 0;" data-id="countryElement" class="countryElement"><br>

                <c-ct_-country-picklist onselectedcountry={handleCountrySelect}></c-ct_-country-picklist>

             <!-- <label class="slds-form-element__label uopInputFieldLabel slds-required"  for="MailingCountryInput">{alumniMetaDataObject.MailingCountry.Web_Label__c}</label>
             <lightning-input 
                variant="label-hidden"
                id="MailingCountryInput"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange} 
                name="MailingCountry"  
                label={alumniMetaDataObject.MailingCountry.Web_Label__c} 
                placeholder={alumniMetaDataObject.MailingCountry.Web_Placeholder__c} 
                value={alumniObject.MailingCountry}></lightning-input> -->
             <label class="slds-form-element__label uopInputFieldLabel" for="MailingPostalCodeInput"><abbr class="slds-required" title="required">*</abbr> {alumniMetaDataObject.MailingPostalCode.Web_Label__c}</label>
             <lightning-input 
                variant="label-hidden"
                id="MailingPostalCodeInput"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange} 
                name="MailingPostalCode"  
                label={alumniMetaDataObject.MailingPostalCode.Web_Label__c} 
                pattern="^[A-Za-z0-9 ]{5,}$"
                message-when-pattern-mismatch="Please enter a valid postal code"
                placeholder={alumniMetaDataObject.MailingPostalCode.Web_Placeholder__c} 
                value={alumniObject.MailingPostalCode}
                required>
                
               </lightning-input>
             <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
             <div class="uopHeading slds-p-vertical--xx-small">Graduation details</div>
             <!-- <label class="slds-form-element__label uopInputFieldLabel" for="courseInput">Course</label> -->
               <!-- <lightning-input 
               type="text" 
               variant="label-hidden"
               id="courseInput"
               class="alumniformField inputFieldPlaceHolder" 
               onchange={onInputFieldOnChange}  
               name="Course"   
               placeholder="Enter your course"
               value={alumniObject.Course}></lightning-input> -->
               <c-ct_-course-lookup oncourseresults={handleSelectedCourse}></c-ct_-course-lookup>

             <!-- <lightning-combobox
                variant="label-hidden"
                id="courseInput"
                name="Course__c"
                label={alumniMetaDataObject.Course__c.Web_Label__c}
                placeholder={alumniMetaDataObject.Course__c.Web_Placeholder__c}
                options={pickListValuesObject.Course__c}
                onchange={onInputFieldOnChange}>

                ></lightning-combobox> -->
             <label class="slds-form-element__label uopInputFieldLabel" for="GraduationYearInput">Graduation Year</label>
             <lightning-input 
                variant="label-hidden"
                id="GraduationYearInput"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange}  
                name="Web_Graduation_Year__c"  
                label={alumniMetaDataObject.Web_Graduation_Year__c.Web_Label__c}
                placeholder={alumniMetaDataObject.Web_Graduation_Year__c.Web_Placeholder__c}
                max-length="4">
               </lightning-input>
             <label class="slds-form-element__label uopInputFieldLabel" for="surNameAtTimeOfGradInput">{alumniMetaDataObject.Surname_At_Time_Of_Graduation__c.Web_Label__c}</label>
             <lightning-input 
                variant="label-hidden"
                id="surNameAtTimeOfGrad"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange}  
                name="Surname_At_Time_Of_Graduation__c"  
                label={alumniMetaDataObject.Surname_At_Time_Of_Graduation__c.Web_Label__c}
                placeholder={alumniMetaDataObject.Surname_At_Time_Of_Graduation__c.Web_Placeholder__c}></lightning-input>
                <label class="slds-form-element__label uopInputFieldLabel" for="surNameAtTimeOfGradInput">{alumniMetaDataObject.Employer__c.Web_Label__c}</label>
                <lightning-input 
                   variant="label-hidden"
                   id="Employer__c"
                   type="text" 
                   class="alumniformField inputFieldPlaceHolder" 
                   onchange={onInputFieldOnChange}  
                   name="Employer__c"  
                   label={alumniMetaDataObject.Employer__c.Web_Label__c}
                   placeholder={alumniMetaDataObject.Employer__c.Web_Placeholder__c}></lightning-input>
             <!-- <div class="slds-grid slds-wrap">
                <div>
                   <span>
                      <lightning-input 
                         variant="label-hidden"
                         id="isEmployerInput"
                         type="checkbox" 
                         class="alumniformField inputFieldPlaceHolder slds-p-topsmall" 
                         onchange={onInputFieldOnChange}  
                         name="isEmployer"  
                         label="Employer"></lightning-input>
                   </span>
                </div>
                <div class="slds-col slds-size_3-of-12">
                   <span>          <label class="slds-form-element__label slds-p-topsmall uopInputFieldLabel" for="isEmployerInput">Employer</label>
                   </span>
                </div>
             </div> -->
             <label class="slds-form-element__label uopInputFieldLabel" for="PositionInput">{alumniMetaDataObject.Position__c.Web_Label__c}</label>
             <lightning-input 
                variant="label-hidden"
                id="PositionInput"
                type="text" 
                class="alumniformField inputFieldPlaceHolder" 
                onchange={onInputFieldOnChange}  
                name="Position__c"  
                label={alumniMetaDataObject.Position__c.Web_Label__c}
                placeholder={alumniMetaDataObject.Position__c.Web_Placeholder__c}></lightning-input>
             <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
             <div class="uopHeading slds-p-vertical--xx-small">Additional details</div>
             <label class="slds-form-element__label uopInputFieldLabel" for="alumniInterestInput">{alumniMetaDataObject.Alumni_Interest__c.Web_Label__c}</label>
             <lightning-dual-listbox id="selectOptions"
               name="Alumni_Interest__c"
               variant="label-hidden"
               label="Select Options"
               source-label="Available Options"
               selected-label="Selected Options"
               class="alumniformField inputFieldPlaceHolder" 
               options={pickListValuesObject.Alumni_Interest__c}
               onchange={onInputFieldOnChange}>
            </lightning-dual-listbox>

            <!-- <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>

             <div class="slds-grid slds-col--padded slds-p-top--small slds-grid--pull-padded">
                <div>
                   <span>
                      <lightning-input 
                         variant="label-hidden"
                         id="giftingInterest"
                         type="checkbox" 
                         class="alumniformField inputFieldPlaceHolder slds-p-topsmall" 
                         onchange={handleGifInterest}  
                         name="giftingInterest"  
                         label=""></lightning-input>
                   </span>
                </div>
                <div class="slds-col">
                   <span>
                     <label class="slds-form-element__label uopInputFieldLabel" style="padding: 0;" for="giftingInterest">I am interested in leaving a gift in my will to the University</label>
                   </span>
                </div>
             </div> -->

             <!-- <lightning-combobox
                variant="label-hidden"
                id="alumniInterestInput"
                name="Alumni_Interest__c"
                label={alumniMetaDataObject.Alumni_Interest__c.Web_Label__c}
                value={alumniObject.Alumni_Interest__c}
                placeholder={alumniMetaDataObject.Alumni_Interest__c.Web_Placeholder__c}
                options={pickListValuesObject.Alumni_Interest__c}
                onchange={onInputFieldOnChange}  

                ></lightning-combobox> -->
             <!-- <lightning-button variant="success" class="completeButton slds-p-topsmall" label="Register" title="Successful action" onclick={validateInputFields}></lightning-button>-->
             <center>
              <template if:true={hasError}>
                <div class="slds-align_absolute-center grpGiftChoice" id="lastError">
                  <label style={errTxtStyle} class="slds-form-element__label slds-align_absolute-left"> You’ve missed something above</label>
                </div>
              </template>
<div class="slds-grid slds-p-top--small slds-align_absolute-center">

    <div class="slds-p-around--small">
        <button type="button" name="Register" value="Register" style="border-radius: 0px;" class="activeButton slds-button slds-button_success" onclick={validateInputFields}>Register</button>
    </div>
    <!-- <div class="slds-p-horizontalsmall">
                      <button 
                         type="button" 
                         name="Cancel" 
                         value="Cancel" 
                         class="inactiveButton slds-button slds-button_destructive" 
                         onclick={oncancel}>Cancel</button>
                   </div> -->
</div>
</center>
</div>
</template>
</template>
</template>