/* @font-face {
    font-family: 'Encode Sans';
    src: url(/resource/font_Encode_Sans);
}

@font-face {
    font-family: 'Open Sans';
    src: url(/resource/font_Open_Sans);
} */
@font-face {
    font-family: "'Encode Sans Expanded', sans-serif";
    src: url(/resource/ct_Font_Encode_Sans_Expanded);
  }
  @font-face {
    font-family: "'Open Sans', sans-serif";
    src: url(/resource/font_Open_Sans);
  }

.uopHeading {
    color: #3C023C;
    font-family: "'Encode Sans Expanded', sans-serif";
    font-size: 15px !important;
}

.borderLine {
    border-color: #3c023c;
}

.thankYouClass {
    font-family: "'Encode Sans Expanded', sans-serif";
    font-weight: bold !important;
    color: #621360;
}

.completeButton {
    width: 80% !important;
    font-family: "'Encode Sans Expanded', sans-serif";
    height: 30px;
    transition-duration: 0.3s;
    transition-property: background-color, color; 
}

.activeButton {
    font-family: "'Encode Sans Expanded', sans-serif";
    height: 40px;
    width: 100px;
    background-color: #0078b4!important;
    border-color: #FFFFFF!important;
    color: #FFFFFF;
    font-size: 15px !important;
    font-weight: 600 !important;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.inactiveButton {
    font-family: "'Encode Sans Expanded', sans-serif";
    height: 40px;
    width: 100px;
    background-color: #dddddd !important;
    border-color: #6f6f6f;
    border: 0px !important;
    color: black;
    font-size: 15px !important;
    font-weight: 600 !important;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.spinnerContainer {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.uopInputFieldLabel {
    color: #212F3B !important;
    font-size: 14px !important;
    font-weight: bold;
    font-family: "'Open Sans', sans-serif";
}

.inactiveButton:hover {
    font-family: "'Encode Sans Expanded', sans-serif";
    font-size: 15px !important;
    background-color: #00A0FF !important; 
    color:#FFFFFF !important;
    font-weight: 600 !important;
    border: 0px !important;

}
.activeButton:hover {
    background-color: #00A0FF !important; 
  color:#FFFFFF !important;
  font-weight: 600 !important;
  font-weight: 600 !important;

}

.inputFieldPlaceHolder {
    font-family: "'Open Sans', sans-serif";
    font-weight: normal;
}