<!--
  @File Name          : ct_CountryPicklist.html
  @Description        : 
  @Author             : Javid Sherif
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 4/6/2020, 2:01:15 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    2/4/2020   Javid Sherif     Initial Version
-->
<template>
  <div class="">
    <div class="slds-form-element">
    <label class="uopInputFieldLabel slds-form-element__label" for="selectedCountry"> <abbr class="slds-required" title="required">*</abbr> Country</label>
    <lightning-combobox variant="label-hidden" data-id="countryPicklistId" aria-autocomplete="countryValues" onchange={handleSelectedCountry} class="inputFieldPlaceHolder" name="selectedCountry" label="" id="selectedCountry" value={selectedCountryString} placeholder="Please select country"
        options={countryValues} required></lightning-combobox>
      </div>
  </div>
</template>