@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded);
}
@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/resource/font_Open_Sans);
}

.uopInputFieldLabel {
  font-family: "'Open Sans', sans-serif" !important;
  color:  #212F3B;
  font-size: 14px !important;
  font-weight: bold; 
}

.inputFieldPlaceHolder {
  font-family: "'Open Sans', sans-serif" !important;
  /* font-weight: bold !important; */
  color: #505457 !important;
}