<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-05-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-23-2020   Creation Admin   Initial Version
-->
<template>
  <h1 class="slds-card__header-title slds-p-bottom--x-small headingStyle">EVENTS</h1>
    <div onselectedevent={handleEventSelection} >
        <template if:false={eventSelected}>
          <template if:true={showSearchForm}>
            <c-ct_event-search-form onsearch={handleSearch}></c-ct_event-search-form>
          </template>
            <c-ct_event-search-results></c-ct_event-search-results>
        </template>
        <template if:true={eventSelected}> 
            <c-ct_ticket-selection selected-event-id={selectedEventId} ></c-ct_ticket-selection>
        </template>
    </div>
</template>