@font-face {
  font-family: 'Encode Sans';
  src: url(/resource/font_Encode_Sans);
}

@font-face {
  font-family: 'Open Sans';
  src: url(/resource/font_Open_Sans);
}

.uopInputFieldLable {
  color: #3C023C !important;
  font-size: 14px !important;
  font-family: Open Sans;
  /* font: inherit; */
}

.inputFiledPlaceHolder {
  font-family: 'Open Sans' !important;
}