<!--
  @File Name          : ct_WealthAssessmentComponent.html
  @Description        : 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 2/5/2020, 1:47:53 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    23/4/2020   Creation Admin     Initial Version
-->
<template>
  <lightning-card title="Latest Wealth Assessment" icon-name="standard:report">
  <template if:true={showSpinnerBoolean}>
    <div>
       <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
    </div>
 </template>
 
 <div class="slds-m-around_medium">
  <template if:true={wealthAssessmentName}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Selected Wealth Assessment:&nbsp;</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-url  value={wealthAssessmentLink} label={wealthAssessmentName} target="_blank">
        </lightning-formatted-url>
        <template if:false={isDisabled}>
        <span style="display:inline-block;margin-left:10px" onclick={handleDeleteWealthAssessment}>
          <lightning-icon  icon-name="action:delete" size="xx-small" alternative-text="Remove Selected Wealth Assessment" title="Delete"></lightning-icon>
        </span>
      </template>
      </div>
    </div>
  </template>

  <lightning-record-edit-form record-id={recordId} object-api-name="Opportunity">
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Please select a Wealth Assessment</label>
      </div>
      <div class="slds-col">
        <lightning-combobox variant="label-hidden" onchange={fetchWealthAssessmentRecord}
        class="assessmentFormField inputFiledPlaceHolder" disabled={isDisabled} id="donateToField"
        value={selectedWealthAssessment} placeholder="Please Select a Wealth Assessment" options={wealthAssessmentList}
        >
      </lightning-combobox>
      </div>
    </div>
  </lightning-record-edit-form>

  <template if:true={dateOfWealthScreen}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Date of Wealth Assessment</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-text  value={dateOfWealthScreen} variant="label-hidden">
        </lightning-formatted-text>
      </div>
    </div>
    </template>
    <template if:true={bureauName}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Wealth Screening Bureau</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-url  value={bureauLink} label={bureauName} target="_blank">
        </lightning-formatted-url>
      </div>
    </div>
  </template>

  <template if:true={capacityScore}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Capacity Score</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-text  value={capacityScore} variant="label-hidden">
        </lightning-formatted-text>
      </div>
    </div>
  </template>

  <template if:true={propertyIndicator}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Property Indicator</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-text  value={propertyIndicator} variant="label-hidden">
        </lightning-formatted-text>
      </div>
    </div>
  </template>
  
  <template if:true={wealthIndicator}>
    <div class="slds-grid slds-gutters slds-grid--pull-padded slds-grid_vertical">
      <div class="slds-col">
        <label class="slds-form-element__label uopInputFieldLable" for="">Wealth Indicator</label>
      </div>
      <div class="slds-col">
        <lightning-formatted-text  value={wealthIndicator} variant="label-hidden">
        </lightning-formatted-text>
      </div>
    </div>
  </template>
  </div>
  </lightning-card>
</template>