<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-05-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
    <template if:true={eventSearchResults}>
      <template if:false={existingEventRegistration}>
      <div class="slds-grid slds-p-around--small ">
        <div class="slds-col">
          <div class="slds-float_right">
            <label class="slds-form-element__label  fieldLabelStyle" for="eventType">Sort by</label>
          <lightning-combobox label="By Event Type" class="" id="eventType" variant="label-hidden" options={options} value={sortValue}
            onchange={sortSearchResults} placeholder="Name"></lightning-combobox>
          </div>
        </div>
     </div>
    </template>
      
      <!-- <lightning-layout>
      
        <lightning-layout-item class="slds-p-around--x-small slds-size_1-of-6">
         
        </lightning-layout-item>
      </lightning-layout> -->
        <lightning-layout multiple-rows>
            <template for:each={recordsToDisplay} for:item="eachEvent">
              <template if:true={selectedEvent}>
                <div key={eachEvent.Id}>
                  <c-ct_ticket-selection selected-event-id={eachEvent.Id} ></c-ct_ticket-selection>
                </div>
              </template>
              <template if:false={selectedEvent}>
                <lightning-layout-item key={eachEvent.Id}>
                    <c-ct_event-tile event-detail={eachEvent}></c-ct_event-tile>
                </lightning-layout-item>
              </template>
            </template>
        </lightning-layout>
        <c-ct_lightning-paginator records={eventSearchResults} total-records={eventSearchResults.length} show-search-box="true" onpaginatorchange={handlePaginatorChange}>
        </c-ct_lightning-paginator>
    </template>
</template>