<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-10-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
  <div class="slds-p-around--xx-small">
  <article class="slds-card  tileStyle">
    <div class="slds-grid slds-gutters">
      <template if:false={getFormFactor}>
        <div class="slds-col">
          <dl class="slds-dl_inline__label">
            <dt class="slds-dl_inline__detail slds-p-around--xx-small">
              <lightning-formatted-rich-text value={eventDetail.Web_Event_Image__c}></lightning-formatted-rich-text>
            </dt>
          </dl>
        </div>
      </template>
      <div class="slds-col">
        <dl>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small">
            <h2 class="slds-card__header-title headingStyle">
              <a class="slds-text-heading_medium headingStyle"
                onclick={handleEventClick}>{eventDetail.Web_Event_Name__c}</a>
            </h2>
          </dd>
        </dl>
        <dl>
          <dt class="slds-dl_inline__label slds-p-around--xx-small">
            <lightning-icon icon-name="utility:target" alternative-text="Location" title="Location" size="x-small">
            </lightning-icon>
          </dt>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">{eventDetail.Web_Event_Location__c}
          </dd>

          <dt class="slds-dl_inline__label slds-p-around--xx-small">
            <lightning-icon icon-name="utility:dayview" alternative-text="Start Date" title="Start Date" size="x-small">
            </lightning-icon>
          </dt>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">
            <lightning-formatted-date-time value={eventDetail.Event_Start_Date__c}>
            </lightning-formatted-date-time>
          </dd>
          <dt class="slds-dl_inline__label slds-p-around--xx-small">
            <lightning-icon icon-name="utility:clock" alternative-text="Start Time" title="Start Time" size="x-small">
            </lightning-icon>
          </dt>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">
            <lightning-formatted-text value={eventDetail.Start_Time__c}></lightning-formatted-text> - <lightning-formatted-text value={eventDetail.End_Time__c}></lightning-formatted-text>

            <!-- {formattedTimeValue} -->
          </dd>

          <dt class="slds-dl_inline__label slds-p-around--xx-small">
            <lightning-icon icon-name="utility:money" alternative-text="Event Type" title="Event Type" size="x-small">
            </lightning-icon>
          </dt>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">{eventDetail.Web_Event_Pricing__c}
          </dd>

          <dt class="slds-dl_inline__label slds-p-around--xx-small">
            <lightning-icon icon-name="utility:event" alternative-text="Registration Availability"
              title="Registration Availability" size="x-small"></lightning-icon>
          </dt>
          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">
            {eventDetail.Registration_Status__c}</dd>

          <dd class="slds-dl_inline__detail slds-p-around--xx-small fieldLabelStyle">
            {eventDetail.Web_Event_Short_Description__c}</dd>
        </dl>
      </div>

    </div>
  </article>
  <template if:true={eventDetail.Web_Event_Long_Description__c}>
    <h2 class="slds-card__header-title slds-p-top--small slds-p-bottom--small headingStyle">
      About our Open Days
    </h2>
    <lightning-formatted-rich-text class="fieldLabelStyle" value={eventDetail.Web_Event_Long_Description__c}>
    </lightning-formatted-rich-text>
  </template>
</div>
</template>