@font-face {
    font-family: "'Encode Sans Expanded', sans-serif";
    src: url(/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
  font-family: "'Encode Sans Expanded Extra Bold', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded_Extra_Bold);
}

@font-face {
    font-family: "'Open Sans', sans-serif";
    src: url(/resource/font_Open_Sans);
}

.completeDonationActiveButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    /* font: inherit; */
    height: 50px;
    width: 200px;
    background-color: #0078B4 !important;
    border-color: #FFFFFF!important;
    color: #FFFFFF;
    font-weight: 600;
    /* border-radius: 3px; */
    padding: 0px;
    margin: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.completeDonationActiveButton:hover {
    background-color: #00A0FF !important;
    color: white;
    font-weight: 600;
}

.activeButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    /* font: inherit; */
    height: 50px;
    width: 90%;
    background-color: #0078B4 !important;
    font-weight: 600;
    border-color: #6f6f6f;
    outline: 1px solid #6f6f6f;
    outline-offset: 1px;
    border-radius: 0px;
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
    z-index: 999;
}

.activeButton:hover {
    background-color: #00A0FF !important;
    color: #FFFFFF !important;
    font-weight: 600;
}

.inactiveButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    height: 50px;
    width: 90%;
    background-color: #dddddd !important;
    font-weight: 600;
    border-color: white;
    border-radius: 0px;
    color: black;
    padding: 0px;
    margin: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.inactiveButton:hover {
    background-color: #00A0FF !important;
    color: #FFFFFF !important;
    font-weight: 600;
}

.activeCollectionButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    height: 40px;
    width: 120px;
    background-color: #0078B4 !important;
    outline: 1px solid #6f6f6f;
    outline-offset: 1px;
    color: #FFFFFF;
    font-weight: 600;
    border-color: #6f6f6f;
    border-radius: 0px;
    padding: 0px;
    z-index: 999;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.activeCollectionButton:hover {
    background-color: #00A0FF !important;
    font-weight: 600;
    color: white;
}

.inactiveCollectionButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    /* font: inherit; */
    height: 40px;
    width: 120px;
    background-color: #dddddd !important;
    font-weight: 600;
    border-color: white;
    border-radius: 0px;
    color: black;
    padding: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.inactiveCollectionButton:hover {
    background-color: #00A0FF !important;
    font-weight: 600;
    color: white;
}

.inputFieldPlaceHolder {
    font-family: "'Open Sans', sans-serif" !important;
    /* font-weight: bold; */
    color: #505457 !important;
}

.slds-input {
    font-family: "'Open Sans', sans-serif" !important;
    font-weight: normal;
    color: #505457;
}

.amtActiveButton {
    font-size: 15px !important;
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    height: 30px;
    width: 70px;
    background-color: #0078B4 !important;
    font-weight: 600;
    border-color: #6f6f6f;
    outline: 1px solid #6f6f6f;
    outline-offset: 1px;
    border-radius: 0px;
    color: #FFFFFF;
    padding: 0px;
    z-index: 999;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.amtActiveButton:hover {
    background-color: #00A0FF !important;
    color: white;
    font-weight: 600;
}

.amtInactiveButton {
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    font-size: 15px !important;
    /* font: inherit; */
    height: 30px;
    width: 70px;
    background-color: #dddddd !important;
    font-weight: 600;
    border-color: white;
    border-radius: 0px;
    color: black;
    padding: 0px;
    transition-duration: 0.3s;
    transition-property: background-color, color;
}

.amtInactiveButton:hover {
    background-color: #00A0FF !important;
    color: white;
    font-weight: 600;
}

.uopInputFieldLabel {
    font-family: "'Open Sans', sans-serif" !important;
    color: #212F3B;
    font-size: 14px !important;
    font-weight: bold;
    /* font: inherit; */
}

.uopBrandLabel {
    /* color: #3C023C; */
    font-family: "'Open Sans', sans-serif" !important;
    color: #596066;
    font-size: 15px !important;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font: inherit; */
}

.uopTopicBrandLabel {
    color: #621360;
    font-size: 15px !important;
    font-weight: normal !important;
    font-family: "'Encode Sans Expanded', sans-serif";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font: inherit; */
}

.uopPickistLabel .slds-form-element__label {
    font-family: "'Open Sans', sans-serif" !important;
    color: #212F3B;
    font-size: 14px !important;
    font-weight: normal;
}

.slds-dropdown-trigger.slds-is-open .slds-listbox__option.slds-has-focus {
    background-color: #D0D0D0;
}

.slds-spinner_container {
    position: fixed;
}

.slds-input .slds-combobox__input {
    border-color: black;
}