<!--
  @File Name          : ct_WebDonationComponent.html
  @Description        : The Web donation component will be used to solicit the donation from a user. 
                        Based on the context the user can be authenticated or unauthenticated
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 25/6/2020, 8:33:32 pm
  @Modification Log   : 
  Ver       Date            Author              Modification
  1.0    12/18/2019   Creation Admin     Initial Version
-->
<template>
  <label  style="opacity: 0;" for="topElem"></label>
  <input type="radio" style="opacity: 0;" data-id="topElement" id="topElem" class="topElement">

  <template if:true={spinnerBoolean}>
    <div class="slds-spinner_container">
      <lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
    </div>
  </template>


<!-- Page Header Div Start-->
<!-- <div class="slds-p-bottom--small" style="width: 100%;">
    <div class="slds-align_absolute-center">
      <img src={uopLOGO} style={getUopLogoStyle}></img>
    </div>

  </div> -->
<!-- Page Header Div Start-->
<template if:true={paymentSuccess}>
    <template if:true={paypalRedirect}>
    <div class="slds-p-bottom--small" style="width: 100%;">
    <div class="slds-align_absolute-center">
      <img src={uopLOGO} style={getUopLogoStyle}></img>
    </div>
    </div>
    </template>
<template if:true={paypalRedirect}>
      <h1 class="slds-align_absolute-center" style={thankYouFontStyle}>
        Thank you
      </h1>
    </template>
<template if:false={paypalRedirect}>
      <h2 class="slds-p-around--small" style={thankYouFontStyle}>
        Thank you
      </h2>
    </template>

<!-- <div class="slds-align_absolute-center slds-p-top--small" style={thankYouFontStyle}>
      
    </div> -->

<div class="uopBrandLabel slds-p-around--small" style="text-align: justify;">
    <template if:false={paypalRedirect}>
    <template if:false={getDonationType}>
      <lightning-formatted-rich-text value={successMessageDD}></lightning-formatted-rich-text>
    </template>
    <template if:true={getDonationType}>
      <lightning-formatted-rich-text value={successMessageCard}></lightning-formatted-rich-text>
    </template>
    </template>
</div>
<template if:true={paypalRedirect}>
  <div class="slds-p-around--medium" style="width: 100%;">
    <div class="uopBrandLabel slds-align_absolute-center" style="text-align: center;">
      <lightning-formatted-rich-text value={successMessageCard}></lightning-formatted-rich-text>
    </div>
  </div>
    <div class="slds-p-around--medium" style="width: 100%;">
      <div class="slds-align_absolute-center" >
      <button class="completeDonationActiveButton slds-button slds-button_destructive slds-p-top_medium" style="border-radius: 0px;"
              onclick={redirectAlumni}>Return to Alumni</button>
        </div>
      </div>
</template>
</template>
<template if:true={showForm}>
    <div class="slds-container--center slds-p-vertical--small slds-p-horizontal_large" style={getMainDivWidth}>
      <div class="slds-grid slds-align_absolute-center slds-p-around--small">
        <div class="slds-col slds-size_12-of-12">
        <lightning-button-group class="slds-align_absolute-center" style={getButtonGroupWidth}>
        <button  name="One-Off Donation" style="border-radius: 0px;" class={getSinglepaymentFrequency} title="Single"
          onclick={updatePaymentFrequency}>Single Gift</button>
        <button name="Regular Donation" style="border-radius: 0px;" class={getMonthlypaymentFrequency} title="Monthly"
          onclick={updatePaymentFrequency}>Regular Gift</button>
        </lightning-button-group>
      </div>
      </div>

      <div class="slds-p-top--small">
        <label class="uopInputFieldLabel slds-form-element__label" for="donateToField">
          <abbr class="slds-required" title="required">*</abbr> Where your donation goes?</label>
        <lightning-combobox variant="label-hidden" onchange={handleProjectSelection}
          class="donationFormField inputFieldPlaceHolder" name="donationToProject" label="" id="donateToField"
          value={donationObject.donationToProject} placeholder="Please Select your fund" options={donateToList}
          required>
        </lightning-combobox>
      </div>

      <!--Donation Information Section Starts-->
      <template if:true={showDonationForm}>
        <div class="slds-p-vertical--xx-small uopTopicBrandLabel">Donation amount</div>
        <template if:true={getDonationType}>
          <label class="uopInputFieldLabel slds-p-vertical--xx-small slds-form-element__label" for="donationAmountSecond">Please choose amount for your one-off donation</label>
        </template>

<template if:false={getDonationType}>
        <label class="uopInputFieldLabel slds-p-vertical--xx-small slds-form-element__label" for="donationAmountSecond">Please choose amount for your regular donation</label>

        </template>

<div class="slds-grid slds-p-vertical--xx-small slds-container--small">
    <template if:true={getDonationType}>
          <lightning-button-group>
            <button class="amtInactiveButton slds-button slds-button_destructive" style="border-radius: 0px;" title="20" onclick={updatePaymentAmount}> £ 20</button>
            <button class="amtActiveButton slds-button slds-button_success" style="border-radius: 0px;" title="50" onclick={updatePaymentAmount}> £ 50</button>
            <button class="amtInactiveButton slds-button slds-button_destructive" style="border-radius: 0px;" title="100" onclick={updatePaymentAmount}> £ 100</button>
          </lightning-button-group>            
          </template>
    <template if:false={getDonationType}>
            <lightning-button-group>
              <button class="amtInactiveButton slds-button slds-button_destructive" style="border-radius: 0px;" title="5" onclick={updatePaymentAmount}> £ 5</button>
              <button class="amtActiveButton slds-button slds-button_destructive" style="border-radius: 0px;" title="10" onclick={updatePaymentAmount}> £ 10</button>
              <button class="amtInactiveButton slds-button slds-button_destructive" style="border-radius: 0px;" title="20" onclick={updatePaymentAmount}> £ 20</button>

            </lightning-button-group>            
          </template>
    <div class="slds-p-left--large">
        <lightning-input variant="label-hidden" class="donationFormField inputFieldPlaceHolder" type="number" placeholder="£ Enter Other Amount" min="1" name="Amount" id="donationAmountSecond" required label="" onchange={onInputFieldOnChange} value={donationObject.Amount}
            formatter="currency" step="0.01">
        </lightning-input>
    </div>
</div>

<template if:false={getDonationType}>
          <div class="uopTopicBrandLabel slds-p-vertical--xx-small slds-p-bottom--small">And the collection frequency
          </div>
          <lightning-button-group>
            <button class="activeCollectionButton  slds-button slds-button_success" style="border-radius: 0px;" id="monthlyDonation"
            value="Monthly" title="Monthly" onclick={handleRegularDonations}>Monthly</button>

            <button class="inactiveCollectionButton slds-button slds-button_destructive" style="border-radius: 0px;" id="quaterlyDonation"
                value="Quarterly" title="Quarterly" onclick={handleRegularDonations}>Quarterly</button>

                <button class="inactiveCollectionButton slds-button slds-button_destructive" style="border-radius: 0px;" id="annuallyDonation"
                value="Annualy" title="Annualy" onclick={handleRegularDonations}>Annualy</button>
          </lightning-button-group>      
          <div class="slds-p-top--x-small">    
          <table style={getButtonGroupWidth}>
            <tr style="padding: 0px;">
              <td style="padding: 0px;" valign="bottom">
                <input  class="donationFormField uopPickistLabel" type="radio" id="1stOfMonth" 
                name="paymentCollectionPoint" value="1" onchange={handlePaymentCollectionPoint} required>
              
                <label class="uopInputFieldLabel slds-form-element__label" style="padding: 1px;" for="1stOfMonth"><abbr class="slds-required" title="required">*</abbr>1st of the
                  month</label>
              </td>
              <td style="padding: 0px;" valign="bottom">
                <input  class="donationFormField uopPickistLabel" type="radio" id="15thOfMonth" 
                    name="paymentCollectionPoint" value="15" onchange={handlePaymentCollectionPoint} required>
                
                  <label class="uopInputFieldLabel slds-form-element__label" style="padding: 0px;" for="15thOfMonth"><abbr class="slds-required" title="required">*</abbr>15th of the
                    month</label>
                </td>
            </tr>
          </table>
        </div>
          <!-- <div class="slds-grid">
            <div class="slds-grid">
              <div class="slds-col">
                <span>
                 
                </span>
              </div>
              <div class="slds-col">
                <span>
                </span>
              </div>
            </div>

            <div class="slds-grid slds-wrap">
              <div class="slds-p-around--x-small">
                <span>
                  
                </span>
              </div>
              <div class="slds-col">
                <span>
                </span>
              </div>
            </div>

          </div> -->
        </template>

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="">
    <div class="slds-p-left--xx-small uopTopicBrandLabel  ">Your details</div>
</div>
<label class="slds-form-element__label uopInputFieldLabel" for="Salutation">
          {donationObjectFields.Salutation.Web_Label__c}</label>
<lightning-combobox variant="label-hidden" onchange={onInputFieldOnChange} class="donationFormField inputFieldPlaceHolder" name="Salutation" label={donationObjectFields.Salutation.Web_Label__c} id="Salutation" value={donationObject.Salutation} placeholder={donationObjectFields.Salutation.Web_Placeholder__c}
    options={contactTitleList}></lightning-combobox>

<label class="slds-form-element__label uopInputFieldLabel" for="FirstName"><abbr class="slds-required"
            title="required">*</abbr> {donationObjectFields.FirstName.Web_Label__c}</label>

<lightning-input variant="label-hidden" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="FirstName" maxlength="30" placeholder={donationObjectFields.FirstName.Web_Placeholder__c} value={donationObject.FirstName} label=""
    name="FirstName" pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field" required></lightning-input>

<label class="slds-form-element__label uopInputFieldLabel" for="LastName"><abbr class="slds-required"
            title="required">*</abbr> {donationObjectFields.LastName.Web_Label__c}</label>
<lightning-input variant="label-hidden" maxlength="30" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="LastName" value={donationObject.LastName} label="" name="LastName" pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field"
    required placeholder={donationObjectFields.LastName.Web_Placeholder__c}></lightning-input>

<c-ct_-address-validator onaddressresults={handleSelectedAddress}></c-ct_-address-validator>

<label class="slds-form-element__label uopInputFieldLabel" for="MailingStreet"><abbr class="slds-required"
            title="required">*</abbr> {donationObjectFields.MailingStreet.Web_Label__c}</label>
<lightning-textarea variant="label-hidden" class="donationFormField inputFieldPlaceHolder" name="MailingStreet" onchange={onInputFieldOnChange} label="" id="MailingStreet" value={donationObject.MailingStreet} placeholder={donationObjectFields.MailingStreet.Web_Placeholder__c}
    required></lightning-textarea>

<label class="slds-form-element__label uopInputFieldLabel" for="MailingCity">
          {donationObjectFields.MailingCity.Web_Label__c}</label>
<lightning-input variant="label-hidden" type="text" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="MailingCity" name="MailingCity" label="" placeholder={donationObjectFields.MailingCity.Web_Placeholder__c} value={donationObject.MailingCity}>
</lightning-input>

<label class="slds-form-element__label uopInputFieldLabel" for="MailingState">
          {donationObjectFields.MailingState.Web_Label__c}</label>
<lightning-input variant="label-hidden" type="text" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="MailingState" name="MailingState" label="" placeholder={donationObjectFields.MailingState.Web_Placeholder__c} value={donationObject.MailingState}>
</lightning-input>

<label class="slds-form-element__label uopInputFieldLabel" for="MailingPostalCode"> <abbr class="slds-required"
            title="required">*</abbr>{donationObjectFields.MailingPostalCode.Web_Label__c}</label>
<lightning-input variant="label-hidden" type="text" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="MailingPostalCode" name="MailingPostalCode" label="" placeholder={donationObjectFields.MailingPostalCode.Web_Placeholder__c}
    value={donationObject.MailingPostalCode} required></lightning-input>
<input type="text" style="opacity: 0;" data-id="countryElement" class="countryElement"><br>
<c-ct_-country-picklist onselectedcountry={handleCountrySelect}></c-ct_-country-picklist>

<label class="slds-form-element__label uopInputFieldLabel" for="Phone">
          {donationObjectFields.Phone.Web_Label__c}</label>
<lightning-input variant="label-hidden" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} type="tel" id="Phone" value={donationObject.Phone} label="" name="Phone" max-length="15" pattern="[0-9-+()]*$" message-when-pattern-mismatch="Please enter a valid phone number"
    placeholder={donationObjectFields.Phone.Web_Placeholder__c}></lightning-input>

<label class="slds-form-element__label uopInputFieldLabel" for="Email"><abbr class="slds-required"
      title="required">*</abbr> {donationObjectFields.hed__AlternateEmail__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" class="donationFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} type="email" id="Email" value={donationObject.hed__AlternateEmail__c} label="" name="hed__AlternateEmail__c" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,15})$"
    message-when-pattern-mismatch="Please enter a valid email address" placeholder={donationObjectFields.hed__AlternateEmail__c.Web_Placeholder__c} required></lightning-input>
<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>

<div class="slds-p-vertical--xx-small uopTopicBrandLabel">
    Gift aid
</div>
<!-- <div class="uopBrandLabel ">
          We can only claim Gift aid on donations of personal money.<br></br>
        </div> -->

<div class="slds-p-vertical--xx-small slds-col--padded slds-size--2-of-2">
    <div class="slds-grid slds-grid slds-grid--pull-padded">
        <div class="slds-p-vertical--xx-small">
            <span>
                <lightning-input variant="label-hidden" class="donationFormField inputFieldPlaceHolder" type="checkbox"
                  id="myOwnDonation" checked={donationObject.myOwnDonation} label="" name="myOwnDonation"
                  onchange={handleGifAidDonation}></lightning-input>
              </span>
        </div>
        <div class="slds-p-vertical--xx-small">
            <span> <label class="slds-form-element__label uopInputFieldLabel" for="myOwnDonation"> Yes, this donation
                  is my own money</label>
              </span>
        </div>

    </div>

</div>
<div class="uopBrandLabel slds-size--2-of-2">
    Your donation is not eligible for Gift aid if you got anything in return for it or you made it through fundraising.
</div>
<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<br></br>
<!--@description : The below part is only display when the donation is own money,
                                             If fundraising or Collected from others the below part will disappear-->

<template if:true={donationObject.myOwnDonation}>
          <div class="slds-grid">
            <div class="slds-col slds-size_1-of-7 left-align">
              <img src={giftAidLogo}></img>
            </div>
            <div class="uopBrandLabel slds-size--6-of-7 slds-p-left--small" style="text-align: justify;">

              Increase your gift by 25% at <b>no extra cost to you</b><abbr class="slds-required"
                title="required">*</abbr>
            </div>
          </div>
          <br />
          <div class="slds-grid">
            <div class="uopBrandLabel slds-col slds-size_7-of-7 left-align" style="text-align: justify;">
              With Gift aid, your £100 donation would be worth £125 with no extra cost to you.
            </div>
          </div>
          <br />
          <div
            class="slds-grid slds-wrap slds-grid--pull-padded slds-p-vertical--xx-small slds-col--padded">
            <div class="slds-grid">
              <div class="slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
                <lightning-input variant="label-hidden" onchange={handleGifAidInterest}
                  class="donationFormField inputFieldPlaceHolder" type="checkbox" id="wishToGiftAid"
                  checked={donationObject.wishToGiftAid} label="" name="wishToGiftAid"></lightning-input>
              </div>
              <div class="uopBrandLabel slds-size--7-of-7">
                <label style="text-align: justify;" class="slds-form-element__label uopInputFieldLabel"
                  for="wishToGiftAid">Yes, I would like to gift aid my donations</label>
              </div>
            </div>
            <br />
            <div class="slds-grid">
              <div class="uopBrandLabel slds-size--7-of-7">
                <label style="text-align: justify;" class="slds-form-element__label uopBrandLabel"
                  for="wishToGiftAid">{giftAidLabel}</label>
              </div>
            </div>

          </div>
          <div class="slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        </template>

<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Continue the conversation, be part of the community
</div>
<div style="text-align: justify;" class="uopBrandLabel">
    <lightning-formatted-rich-text value={keepInTouchPoint1}></lightning-formatted-rich-text>
</div>
<br />
<div class="slds-grid slds-p-vertical--xx-small">
    <div class="uopBrandLabel">
        <form>
            <table>
                <tr>

                    <th style="width: 40px;" class="uopInputFieldLabel">Yes / </th>
                    <th class="uopInputFieldLabel">No</th>
                    <th></th>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchAllYes inputFieldPlaceHolder" type="radio" id="selectAllYes" name="selectAll" value="Yes" onchange={handleSelectAll}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchAllYes inputFieldPlaceHolder" type="radio" id="selectAllNo" name="selectAll" value="No" onchange={handleSelectAll}>

                    </td>
                    <td class="uopInputFieldLabel">
                        Select all
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">

                        <input class="keepInTouchYes donationFormField inputFieldPlaceHolder" type="radio" id="emailConsentYes" name="emailConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo donationFormField inputFieldPlaceHolder" type="radio" id="emailConsentNo" name="emailConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by email</b> <abbr class="slds-required" aria-label="required" title="required">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes donationFormField inputFieldPlaceHolder" type="radio" id="smsConsentYes" name="smsConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo donationFormField inputFieldPlaceHolder" type="radio" id="smsConsentNo" name="smsConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by text message</b> <abbr class="slds-required" aria-label="required" title="required">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes donationFormField inputFieldPlaceHolder" type="radio" id="phoneConsentYes" name="phoneConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo donationFormField inputFieldPlaceHolder" type="radio" id="phoneConsentNo" name="phoneConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by phone</b> <abbr class="slds-required" aria-label="required" title="required">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes donationFormField inputFieldPlaceHolder" type="radio" id="directMailConsentYes" name="directMailConsent" value="Yes" onchange={handleMarketingPerferences}>
                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo donationFormField inputFieldPlaceHolder" type="radio" id="directMailConsentNo" name="directMailConsent" value="No" onchange={handleMarketingPerferences}>
                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by post</b> <abbr class="slds-required" aria-label="required" title="required">*</abbr>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
<br />
<div style="text-align: justify;" class="uopBrandLabel">
    <lightning-formatted-rich-text value={keepInTouchPoint2}></lightning-formatted-rich-text>
</div>

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="uopBrandLabel slds-p-vertical--small">

    <lightning-formatted-rich-text value={termsAndConditionsAndPrivacyStatements}></lightning-formatted-rich-text>

</div>
<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="slds-grid slds-grid_vertical slds-p-top_large">

    <template if:true={showError}>
            <div class="slds-align_absolute-center grpGiftChoice" id="lastError">
              <label style={errTxtStyle} class="slds-form-element__label slds-align_absolute-left"> You’ve missed something above</label>
            </div>
          </template>

    <template if:false={getDonationType}>
            <div class="slds-grid slds-align_absolute-center slds-grid_vertical">
              <button class="completeDonationActiveButton slds-button slds-button_destructive" style="border-radius: 0px;" onclick={validateDOnationForm}>Set Up Direct Debit</button>
            </div>
          </template>
    <template if:true={getDonationType}>
            <div>
              <label class="slds-form-element__label slds-align_absolute-left uopTopicBrandLabel"> How would you like to
                donate?</label>
            </div>
           
            <div class="slds-grid slds-align_absolute-center slds-p-around_medium slds-grid_vertical">

              <div>
                <button class="completeDonationActiveButton slds-button slds-button_destructive slds-p-top_medium" style="border-radius: 0px;"
                  onclick={cardCheckout}>Credit
                  or Debit Card</button>
              </div> 
              <template if:true={showPaypalButton}>
             <div class="slds-p-top_medium">
                <img src={paypalLOGO} onclick={paypalCheckout} style="height:45px; width:200px; border-radius: 0px; cursor: pointer;"></img>
    
              </div>
            </template>
</div>
</template>


</div>
</template>
</div>
</template>
<!--###### Asperato Payment######-->
<template if:true={showAsperatoPayment}>

    <template if:true={isMobile}>
      <iframe id="aspframeMobile"  data-id="asperatoPaymentFormId" style={iframeLoadStyle} src={paymentIframeURL}>
     </iframe> 
     </template>


<template if:false={isMobile}>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
      aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_medium">
      <div class="slds-modal__container" >

        <header class="slds-modal__header " style={iframeHeaderStyle}>
          <lightning-button-icon icon-name="utility:close"  onclick={closeModel} alternative-text="close"
          variant="bare-inverse" class="slds-modal__close"></lightning-button-icon>
        </header>
        
        <div class="slds-modal__content "  data-id="iframeNonMobilecontainer" id="aspFramContainer">

         
        <iframe data-id="aspframe" scrolling="yes"  style={iframeStyle} src={paymentIframeURL}>
        </iframe>
      </div>
        <!--###### MODAL BOX FOOTER Part Start ######-->
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
    <!--###### MODAL BOX Part END Here ######-->
     </template>
</template>
</template>
</div>
</template>
</template>