<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-04-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
  <h2 class="slds-card__header-title headingStyle">
    {formTitle}
  </h2>
  <hr></hr>
  <p class="fieldLabelStyle">Ordered By</p>
  <div>
    <label class="slds-form-element__label fieldLabelStyle" for="firstName">First Name<abbr class="slds-required" title="required">*</abbr></label>
    <lightning-input type="text" id="firstName" class="ticketOrderField" variant="label-hidden" label="First Name" value={firstName}
      onchange={handleFirstName} read-only={displaySummary} required></lightning-input>
    
  </div>
  <div>
    <label class="slds-form-element__label fieldLabelStyle" for="lastName">Last Name<abbr class="slds-required" title="required">*</abbr></label>
    <lightning-input type="text" id="lastName" variant="label-hidden" class="ticketOrderField" label="Last Name" value={lastName}
      onchange={handleLastName} read-only={displaySummary} required></lightning-input>
  </div>
  <div>
    <label class="slds-form-element__label fieldLabelStyle" for="email">Email<abbr class="slds-required" title="required">*</abbr></label>
    <lightning-input type="email" id="email" variant="label-hidden" class="ticketOrderField" label="Email" value={email} onchange={handleEmail}
      read-only={displaySummary} required></lightning-input>
  </div>
  <template if:false={displaySummary}>
    <template for:each={ticketForms} for:item="eachTicket">
      <c-ct_ticket-form ticket={eachTicket} key={eachTicket.ticketNumber}></c-ct_ticket-form>
    </template>
    <lightning-button variant="brand" label="Next" title="Next" onclick={handleDisplaySummary}
      class="slds-p-around--x-small slds-align_absolute-center">
    </lightning-button>
  </template>

  <template if:true={displaySummary}>
    <c-ct_ticket-order-summary tickets={selectedTickets} ordered-tickets={orderedTickets} ordered-by={orderedBy}>
    </c-ct_ticket-order-summary>
  </template>

</template>