<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-04-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
  <hr></hr>
  <h2 class="slds-card__header-title headingStyle">
    Ticket {ticket.ticketNumber} - {ticket.name}
  </h2>
  <div>
    <lightning-combobox options={attendees} value={attendeeType} onchange={handleAttehndeeType} required>
    </lightning-combobox>
  </div>
  <template if:false={isGuest}>
    <div>
      <label class="slds-form-element__label fieldLabelStyle" for="firstName">First Name<abbr class="slds-required" title="required">*</abbr></label>
      <lightning-input type="text" id="firstName" variant="label-hidden" name="firstName" label="First Name" class="ticketOrderField" value={firstName} onchange={handleFirstName} required>
      </lightning-input>
    </div>
    <div>
      <label class="slds-form-element__label fieldLabelStyle" for="lastName">Last Name<abbr class="slds-required" title="required">*</abbr></label>
      <lightning-input type="text" id="lastName" variant="label-hidden" name="lastName" label="Last Name" class="ticketOrderField" value={lastName} onchange={handleLastName} required>
      </lightning-input>
    </div>
    <div>
      <label class="slds-form-element__label fieldLabelStyle" for="email">Email<abbr class="slds-required" title="required">*</abbr></label>
      <lightning-input type="email" id="email" variant="label-hidden" name="email" label="Email" class="ticketOrderField" value={email} onchange={handleEmail} required>
      </lightning-input>
    </div>
  </template>
</template>