<template>
  <div class="slds-col slds-size_1-of-1" style="margin-top:20px;margin-bottom:20px;">
      <div class="slds-grid slds-gutters slds-wrap">
          <div class="slds-col slds-size_4-of-6">
              <article class="slds-tile slds-media">
                <div class="slds-media__figure">
                  <lightning-icon icon-name="standard:contact" style="margin-top:3px"></lightning-icon>
                </div>
                <div class="slds-media__body">
                  <h3 class="slds-tile__title slds-truncate" title={row.FirstName}>
                    <p class="slds-text-heading_small">{row.FirstName} {row.LastName}</p>
                  </h3>
                  <div class="slds-tile__detail">
                    <dl class="slds-list_horizontal slds-wrap">
                      <dt class="slds-item_label slds-text-color_weak" title="First Label">{row.Email}</dt>
                    </dl>
                  </div>
                </div>
              </article>
            </div>
          <div class="slds-col slds-size_2-of-6" style="text-align:center">
              <template if:true={row.IsCheckedIn}>
                  <button style="width:105px" data-id={row.Id} class="slds-button slds-button_brand" disabled={row.IsCheckedIn}>Checked In</button>
              </template>
              <template if:false={row.IsCheckedIn}>
                <template if:false={showConfirmation}>
                  <button style="width:105px" data-id={row.Id} class="slds-button slds-button_brand " disabled={row.IsCheckedIn} onclick={handleCheckInAttendee}>Check In</button>  
                </template>
                <template if:true={showConfirmation}>
                  <button style="width:105px" data-id={row.Id} class="slds-button slds-button_brand " disabled onclick={handleCheckInAttendee}>Check In</button>  
                </template>
              </template>

          </div>
      </div>
  </div>
  <template if:true={showConfirmation}>
    <div class="slds-col slds-size_1-of-1" style="height:40px;">
      <div class="slds-grid slds-gutters slds-wrap">
          <div class="slds-col slds-size_4-of-6">
              <p style="margin-top:6px;">Are you sure you wish to check in this attendee?</p>
          </div>
          <div class="slds-col slds-size_2-of-6" style="text-align:center">
              <button style="width:52px;display:inline;" data-id={row.Id} class="slds-button slds-button_brand " value="yes" onclick={handleCheckInConfirmation}>Yes</button>  
              <button style="width:52px;display:inline;" data-id={row.Id} class="slds-button slds-button_brand " value="no" onclick={handleCheckInConfirmation}>No</button>  

          </div>
      </div>
      
    </div>
  </template>
</template>