@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/resource/font_Open_Sans);
}

.formHeaderStyle{
  background-color: #351c75;
}

.headerFont{
  color: white;
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  font-size: 15px !important;

}

.searchButtonStyle{
  background-color:  #351c75;
  font-family: "'Encode Sans Expanded', sans-serif";
  height: 30px;
  width: 120px;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 14px !important;
  font-weight: 600 !important;
  transition-duration: 0.3s;
  transition-property: background-color, color;
}

.fieldLabelStyle{
  font-family: "'Open Sans', sans-serif" !important;
  font-size: 14px !important;
  font-weight: normal;
}

.customSelect select {
  padding-right: 1.25rem;
  min-height: inherit;
  line-height: normal;
  height: 1.4rem;    
}
.customSelect label {
  margin-top: .1rem;
}
.customSelect .slds-select_container::before {
  border-bottom: 0;
}
.customInput {
  width: 3rem;
  height: 1.4rem;
  text-align: center;
  border: 1px solid #dddbda;
  border-radius: 3px;
  background-color:#fff;
}