.content
{
    text-align:center;
}

.empty-results
{
    background-image: url('https://universityofportsmouth--uat.lightning.force.com/_slds/images/illustrations/empty-states/desertSmall.svg');
    height:100%;
}

.search-content
{
    min-height:250px;
    padding-left:20px;
    padding-right:20px;
}

.name-header
{
    font-size:26px;
    font-weight:bold;
}

.no-campaigns
{
    text-align:center;
}