<template>
    <template if:true={showSpinner}>
        <div class="spinner-container">
            <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
        </div>
    </template>

        <div class="slds-m-around_medium">
            <lightning-input type="search" 
                            label="Search" 
                            onchange={handleKeyChange} 
                            class="slds-m-bottom_small"
                            value={searchKey}></lightning-input>
        </div>
        <div class="search-content">
            <template if:false={showTable}>
                <div class="no-campaigns">
                    <img src="https://universityofportsmouth--uat.lightning.force.com/_slds/images/illustrations/empty-states/desertSmall.svg" style="height: 250px; width: 100%;">
                    <p>No attendees were found.</p>    
                </div>
            </template>
            <template if:true={showTable}>
                <div class="slds-grid slds-gutters slds-wrap">
                    <template for:each={displayResults} for:item="row">
                        <div class="slds-col slds-size_1-of-1" key={row}>
                            <c-campaign-check-in-row row={row} show-confirmation={row.showConfirmation} oncheckin={handleCheckIn} oncheckinconfirm={handleCheckInConfirm}></c-campaign-check-in-row>
                        </div>
                    </template>
                </div>
                <p class="slds-m-vertical_medium" style="text-align:center;">Total records: <b>{totalRecords} </b><br/> Page <b>{currentpage}</b> of  
                    <b> {totalpages}</b></p> 
            </template>
        </div>
        
</template>