<!--
  @File Name          : ct_CourseLookup.html
  @Description        : 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 29/6/2020, 2:47:41 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    3/17/2020   Creation Admin     Initial Version
-->
<template>
  <!--Start-->
  <div>
    <div class="slds-form-element">
      <label class="uopInputFieldLable slds-form-element__label">Search course</label>
        <div class="slds-grid slds-form-element__control">
            <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="false" aria-haspopup="listbox" role="combobox">
              <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                <lightning-input
                name="enter-search"
                label="Search Courses"
                type="search"
                onchange={onInputValueChange}
                placeholder="Please enter valid course, eg: Applied functional analysis"
                value={searchString}
                variant="label-hidden"
                class="inputFieldPlaceHolder" 
                is-loading={isLoading}
            ></lightning-input>
                <!-- <input type="text" class="inputFieldPlaceHolder slds-input slds-combobox__input" id="combobox-unique-id-7" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Please enter valid course" value={searchString} onchange={onInputValueChange}></input> -->
                  <!-- <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                    <lightning-icon icon-name="utility:search" alternative-text="Search Course" size="x-small"></lightning-icon>
                  </span> -->
              </div>
              <div>
                <template if:true={isCourse}>
                  <div id="listbox-unique-id" role="listbox">
                    <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation" style="height: 10rem; overflow-y: scroll; display: block; min-width: auto; max-width: 100% ; width: 100%;"  >
                      <template for:each={courseList} for:item="course" for:index="index">
                        <li key={course.value} title={course.label} role="presentation" class="slds-listbox__item" data-selected-index={course.value} onclick={handleSelectedCourse}>
                          <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                            <span class="slds-listbox__option-text slds-listbox__option-text_entity" name={index}>{course.label}</span>      
                          </div>
                        </li>  
                      </template>
                    </ul>
                  </div>
                </template>           
              </div>
            </div>
        </div>
      </div>
    </div>
<!--End-->

    
</template>