<!--
  @File Name          : ct_AccountTeamRelatedList.html
  @Description        : Custom Related List component to view Account Team Member of parent Account
  @Author             : Sadham Creation
  @Group              : 
  @Last Modified By   : Sadham Creation
  @Last Modified On   : 4/29/2020, 3:08:44 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    4/28/2020   Sadham Creation     Initial Version
-->
<template>
  <template if:true={showSpinnerBoolean}>
    <div>
       <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
    </div>
 </template>
<template if:true={showListTable}>
  <div class="slds-box slds-theme_shade">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container" title="Account Team">
            <lightning-icon icon-name="standard:team_member" size="small"></lightning-icon>
            <span class="slds-assistive-text">Account Team</span>
          </span>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title" style="font-weight: bold;">
              Account Team ({listSize})
          </h2>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">{listSizeBody}</div>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
      <thead>
        <tr class="slds-line-height_reset">
          <th scope="col" style="width: 50px;"></th>
         
          <th scope="col">
            <div class="slds-truncate slds-p-vertical--xx-small" title="Team Member">Team Member</div>
          </th>
          <th scope="col">
            <div class="slds-truncate slds-p-vertical--xx-small" title="Team Role">Team Role</div>
          </th>
        </tr>
      </thead>
      <tbody>
       
          <template for:each={accountMemberList} for:item="thisMember">
            <tr key={thisMember.Id} class="slds-hint-parent">
            <td key={thisMember.Id}>
              <div key={thisMember.Id} class="slds-truncate slds-p-vertical--small" title={thisMember.IndexNo}>{thisMember.IndexNo}</div>
            </td>

            

            <td key={thisMember.Id}>
              <div key={thisMember.Id} class="slds-truncate" >

              <span>
                <lightning-avatar variant="circle" src={thisMember.PhotoUrl}  alternative-text={thisMember.User.Name} size="medium" class="slds-m-right_small"></lightning-avatar>
              </span>
              
                <span><a href="javascript:void(0);" onclick={redirectToTeamMember} title={thisMember.Id}>{thisMember.User.Name}</a></span>
            </div>
            </td>
            <td key={thisMember.Id}>
              <div key={thisMember.Id} class="slds-truncate" title={thisMember.TeamMemberRole}>{thisMember.TeamMemberRole}</div>
            </td>
          </tr>
          </template>

</tbody>
</table>
</div>
</template>
</template>