<!--
@File Name          : ct_YoutubeEmbed.html
@Description        : Training Video Embed LWC supports on Record Page
@Author             : Creation Admin
@Group              : 
@Last Modified By   : Creation Admin
@Last Modified On   : 5/01/2020, 02:55:00 PM
@Modification Log   : 
Ver       Date            Author       Modification
1.0    4/29/2020   Creation Admin     Initial Version
-->
<template>
  <template if:true={showCard}>
    <lightning-card title={label.watchtrainingVideo} icon-name="custom:custom99">
      <template if:false={showVideo}>
          <lightning-button-icon icon-name="utility:chevronright" slot="actions" alternative-text="collapsed" title="click to collapse" onclick={show_Video}></lightning-button-icon> 
      </template>
      <template if:true={showVideo}>
        <lightning-button-icon icon-name="utility:chevrondown" slot="actions" alternative-text="uncollapsed" title="click to uncollapse" onclick={hide_Video}></lightning-button-icon>  
        
        <lightning-accordion class="main-accordion" >
          <template for:each={responseData} for:item="record">
              <lightning-accordion-section key={record.DeveloperName} name={record.DeveloperName} label={record.Video_Title__c}>
              <div style="position:relative;padding-top:56.25%;">
                  <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src={record.video_URL__c}>
                  </iframe>
              </div>
              <lightning-button-icon icon-name="utility:new_window" slot="actions" class="slds-p-left_small" alternative-text="new window" title="new window" name={record.video_URL__c} onclick={handleClick}></lightning-button-icon>
            
            </lightning-accordion-section>
          </template>
        </lightning-accordion>
      </template>
    </lightning-card>
  </template>
</template>