<template>
    <div class="slds-box">
        <lightning-card icon-name="standard:event" title="Add To Calendar">
            <div class="slds-var-p-around_medium">
                <lightning-button-menu label="Add to Calendar" alternative-text="Add to calendar"
                    icon-name="standard:event" variant="border" class="menuStyle">
                    <lightning-menu-item value="google" label="Google Calendar" onclick={addToCalendar}>
                    </lightning-menu-item>
                    <lightning-menu-item value="outlook" label="Outlook Calendar" onclick={addToCalendar}>
                    </lightning-menu-item>
                    <lightning-menu-item value="apple" label="Apple Calendar" onclick={addToCalendar}>
                    </lightning-menu-item>
                    <lightning-menu-item value="yahoo" label="Yahoo Calendar" onclick={addToCalendar}>
                    </lightning-menu-item>
                </lightning-button-menu>
            </div>
        </lightning-card>
    </div>
</template>