<template>
    <lightning-card title={label.watchtrainingVideo} icon-name="custom:custom99">
        <div class="slds-m-around_medium">
            <lightning-input
                type="search"
                onchange={handleKeyChange}
                class="slds-m-bottom_small"
                label="Search Title"
                placeholder="Ex : About Administrative Accounts"
            ></lightning-input>
            </div>
            </lightning-card>
            <template if:true={result}>
            <lightning-layout horizontal-align="space" multiple-rows="true">
               <template for:each={result.data} for:item="record">

                <lightning-layout-item padding="around-small" key={record.Id} size="3" small-device-size="1" medium-device-size="4" large-device-size="3">
                    <lightning-card title={record.Video_Title__c} >
                        <!--
                    <div style="position:relative;padding-top:56.25%;">
                        <iframe style="position:absolute;top:0;left:0;width:100%;height:100%;" src={record.video_URL__c}>
                        </iframe>
                    </div>
                -->
                    <div style="position:relative;height:300px">
                    <iframe width="350" height="350" style="position:absolute;top:0;left:0;width:100%;height:100%;" src={record.video_URL__c}>
                    </iframe>
                </div>
                    <lightning-button-icon icon-name="utility:new_window" slot="actions" class="slds-p-left_small" alternative-text="new window" title="new window" name={record.video_URL__c} onclick={handleClick}></lightning-button-icon>
                </lightning-card>
                </lightning-layout-item>
                
            </template>
        </lightning-layout>
            </template>
</template>