.THIS {
   
}

.THIS.slds-scrollable_y .fieldset .btn-submit  {
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: #3C023C;
      font-size: 16px;
      border-style: none;
      border-radius: 0px;
      border-width: 1px;
      margin: 28px;
      }

.THIS.slds-scrollable_y .chat-section-header  {
      font-family: "Encode Sans Expanded",sans-serif;
      font-weight:500;
      color:rgba(97,24,95,1);
      font-size:24px;
      float: center;
      margin: 20px;
      }

.THIS.slds-scrollable_y .fieldset .footnote-label  {
      font-family:"Open Sans", sans-serif;
      font-size:14px;
      color:#505457;
      /* border: 1px solid #505457;
      border-radius:2px;
      border-width:1px; */
      margin: 20px;
	  min-width: 160px;
      }

.THIS.slds-scrollable_y .fieldset .footnote-label .test-field input {
    border: 1px solid rgba(171,170,170,1);
    border-radius:2px;
    border-width:1px;
    height: 30px;
    min-width: 300px;
    padding: 5px;
}

.THIS.slds-scrollable_y .fieldset .slds-form-element__label {
    font-weight: bold;
    /* text-align: left; */
    display: block;
    padding: 5px 0;
    color: #505457;
}

.THIS.slds-scrollable_y .fieldset .hide {
    display: none;
}

.THIS.slds-scrollable_y .fieldset abbr.slds-required {
    visibility: hidden;
}

.THIS.slds-scrollable_y .fieldset .slds-form-element__help {
    font-size: 0.9em;
    color: #621360;
}

.THIS.slds-scrollable_y .fieldset .uiLabel-left.form-element__label.uiLabel { font-weight: bold;}

.THIS.slds-scrollable_y .footnote-label-clearing { color:#c4014b; font-family: "Open Sans", sans-serif;}

.THIS.slds-scrollable_y .fieldset .slds-form-element__control {
   text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
}

.THIS.slds-scrollable_y .fieldset .slds-select_container select {
   text-align-last: center;
   text-align: center;
   -ms-text-align-last: center;
   -moz-text-align-last: center;
   width:80%;
}