@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded);
}
@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/resource/font_Open_Sans);
}

.borderLine {
  border-color: #3c023c;
}

.activeButton {
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  font-size: 14px !important;
  /* font: inherit; */
  height: 50px;
  width: 200px;
  background-color: #0078B4 !important;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 0%;
  margin: 0px;
  transition-duration: 0.3s;
  transition-property: background-color, color;
}

.activeButton:hover{
  background-color: #00A0FF !important; 
  color:#FFFFFF !important;
  font-weight: 600;
}

.inputFieldPlaceHolder {
  font-size: 14px !important;
  font-family: "'Open Sans', sans-serif";
}

.uopInputFieldLabel {
  font-family: "'Open Sans', sans-serif" !important;
  color:  #212F3B;
  font-size: 14px !important;
  font-weight: bold; 
  /* font: inherit; */
}

.uopInputFieldLabelLight {
  font-family: "'Open Sans', sans-serif" !important;
  color:  #212F3B;
  font-size: 14px !important;
  font-weight: normal; 
  /* font: inherit; */
}

.uopBrandLabel {
  /* color: #3C023C; */
  font-family: "'Open Sans', sans-serif" !important;
  color:  #505457;
  font-size: 14px !important;
  font-weight: lighter; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font: inherit; */
}

.uopTopicThankHeader{
  color: #3C023C;
  font-size: xx-large;
  font-weight: bold; 
  font-family: "'Encode Sans Expanded', sans-serif";
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.uopTopicBrandLabel {
  color: #3C023C;
  font-size: 15px !important;
  font-weight: normal !important;
  font-family: "'Encode Sans Expanded', sans-serif";
  text-rendering: optimizeLegibility;
   -webkit-font-smoothing: subpixel-antialiased;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  /* font: inherit; */
}

/* .uopPickistLable .slds-form-element__label {
  font-family: "'Open Sans', sans-serif" !important;
  color:  #212F3B;
  font-size: 14px !important;
  font-weight: normal; 
} */


/* .uopFontClass .slds-form-element__label{
]  color:#3C023C;
  font-size: 1rem;
  font-family: calibri;
} */

.slds-dropdown-trigger.slds-is-open .slds-listbox__option.slds-has-focus {
  background-color: #D0D0D0;
}

.slds-spinner_container {
  position: fixed;
}

.slds-carousel__content {
  height: 5rem;
  padding: 1rem 2rem;
  background: #55175C;
  text-align: right;
  color: white;
}

.slds-carousel__indicators {
  display: none;
}

.slds-carousel__image>img {
  height: 25rem;
}

.customRadioCls .slds-form-element__control .slds-radio{
  display : inline-block !important;
  margin-right: 0px;
}