<!--
  @File Name          : ct_VolunteerRegistrationForm.html
  @Description        : 
  @Author             : Javid Sherif
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 30/6/2020, 9:51:28 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    6/4/2020   Javid Sherif     Initial Version
-->
<template>
  <input type="radio" style="opacity: 0;" data-id="topElement" id="topElem" class="topElement">

  <template if:true={spinnerBoolean}>
    <div class="slds-spinner_container">
      <lightning-spinner alternative-text="Loading" variant="brand" size="large"></lightning-spinner>
    </div>
  </template>

<!-- Page Header Div Start-->
<!-- <div class="slds-p-bottom--small" style="width: 100%;">
    <div class="slds-align_absolute-center">
        <img src={uopLOGO} style={getUopLogoStyle}></img>
    </div>
</div> -->

<template if:true={registrationSuccess}>
    <div class="slds-align_absolute-center slds-p-top--small" style={thankYouFontStyle}>
      <label class="slds-form-element__label" style="color: #3C023C;font-size: 28px;">Thank you for your application</label>
    </div><br />
    <div class="slds-align_absolute-center slds-p-top--small" style={thankYouFontStyle}>
      <label class="slds-form-element__label" style="font-size: 18px;">A member of the Volunteering team will be in
        touch shortly.</label>
    </div>
  </template>
<template if:false={registrationSuccess}>
    <!-- Page Header Div Start-->
    <template if:true={volunteerObjectFields}>
      <!-- Volunteer Form Start-->
      <div class="slds-container--center slds-p-vertical--small slds-p-horizontal_large" style={getMainDivWidth}>

        <div class="">
          <div class="slds-p-left--xx-small uopTopicBrandLabel">Your details</div>
        </div>
        <label class="slds-form-element__label uopInputFieldLabel" for="Salutation">
          {volunteerObjectFields.Salutation.Web_Label__c}</label>
        <lightning-combobox variant="label-hidden" onchange={onInputFieldOnChange}
          class="volunteerFormField inputFieldPlaceHolder" name="Salutation" label="" id="Salutation"
          value={volunteerObject.Salutation} placeholder={volunteerObjectFields.Salutation.Web_Placeholder__c}
          options={pickListValuesObject.Salutation}></lightning-combobox>

        <label class="slds-form-element__label uopInputFieldLabel" for="FirstName"><abbr class="slds-required"
            title="* indicates a mandatory field">*</abbr> {volunteerObjectFields.FirstName.Web_Label__c}</label>
        <lightning-input variant="label-hidden" maxlength="30" class="volunteerFormField inputFieldPlaceHolder"
          onchange={onInputFieldOnChange} id="FirstName"
          placeholder={volunteerObjectFields.FirstName.Web_Placeholder__c} value={volunteerObject.FirstName} label=""
          pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field"
          name="FirstName"  required></lightning-input>

        <label class="slds-form-element__label uopInputFieldLabel" for="LastName"><abbr class="slds-required"
            title="* indicates a mandatory field">*</abbr> {volunteerObjectFields.LastName.Web_Label__c}</label>
        <lightning-input variant="label-hidden" maxlength="30" class="volunteerFormField inputFieldPlaceHolder"
          onchange={onInputFieldOnChange} id="LastName" value={volunteerObject.LastName} label="" name="LastName"
          required
          pattern="(^[a-zA-Z])+([\sa-zA-Z0-9'-]*)?$" message-when-pattern-mismatch="Only alpha numerics allowed for this field"
          placeholder={volunteerObjectFields.LastName.Web_Placeholder__c}></lightning-input>

        <label class="slds-form-element__label uopInputFieldLabel" for="Phone">
          {volunteerObjectFields.Phone.Web_Label__c}</label>
        <lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder"
          onchange={onInputFieldOnChange} type="tel" id="Phone" value={volunteerObject.Phone} label="" name="Phone"
          max-length="15" pattern="[0-9-+()]*$" message-when-pattern-mismatch="Please enter a valid phone number"
          placeholder={volunteerObjectFields.Phone.Web_Placeholder__c}></lightning-input>

        <label class="slds-form-element__label uopInputFieldLabel" for="Email"><abbr class="slds-required"
            title="* indicates a mandatory field">*</abbr> {volunteerObjectFields.hed__AlternateEmail__c.Web_Label__c}</label>
        <lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder"
          onchange={onInputFieldOnChange} type="email" id="Email" value={volunteerObject.hed__AlternateEmail__c} label="" name="hed__AlternateEmail__c"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,15})$"
          message-when-pattern-mismatch="Please enter a valid email address"
          placeholder={volunteerObjectFields.hed__AlternateEmail__c.Web_Placeholder__c} required></lightning-input>

          <label class="slds-form-element__label uopInputFieldLabel" for="label">Tick all that apply</label>

          <div class="slds-grid slds-p-vertical--xx-small">

            <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">

              <lightning-input type="checkbox" label={volunteerObjectFields.Are_you_a_UoP_Alumnus__c.Web_Label__c} name="Are_you_a_UoP_Alumnus__c"
              variant="label-hidden"
              onchange={onCheckBoxInputFieldOnChange}
              value={volunteerObjectFields.Are_you_a_UoP_Alumnus__c}></lightning-input>
            </div>
            <div class="uopBrandLabel slds-size--7-of-7">
                <label class="slds-form-element__label uopInputFieldLabelLight" style="font-weight: 500 !important;" for="uopAlumnus">{volunteerObjectFields.Are_you_a_UoP_Alumnus__c.Web_Label__c}</label>
            </div>
        </div>
        <div class="slds-grid slds-p-vertical--xx-small">
          <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
            <lightning-input type="checkbox" label={volunteerObjectFields.Are_you_a_UoP_Staff_Member__c.Web_Label__c} name="Are_you_a_UoP_Staff_Member__c"
            variant="label-hidden"
            onchange={onCheckBoxInputFieldOnChange} style="font-weight: 500 !important;" 
            value={volunteerObjectFields.Are_you_a_UoP_Staff_Member__c}></lightning-input>
          </div>
          <div class="uopBrandLabel slds-size--7-of-7">
              <label class="slds-form-element__label uopInputFieldLabelLight" style="font-weight: 500 !important;" for="uopAlumnus">{volunteerObjectFields.Are_you_a_UoP_Staff_Member__c.Web_Label__c}</label>
          </div>
        </div>

        <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        <div class="slds-p-vertical--xx-small uopTopicBrandLabel">Your volunteering experience</div>
        <label class="slds-form-element__label uopInputFieldLabel" >Tick all that apply</label>
        <div class="slds-grid slds-p-vertical--xx-small">
          <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
            <lightning-input type="checkbox" label={volunteerObjectFields.Previous_UOP_Volunteer__c.Web_Label__c} name="Previous_UOP_Volunteer__c"
            variant="label-hidden"
            onchange={onCheckBoxInputFieldOnChange}
            value={volunteerObjectFields.Previous_UOP_Volunteer__c}></lightning-input>
          </div>
          <div class="uopBrandLabel slds-size--7-of-7">
              <label class="slds-form-element__label uopInputFieldLabelLight" style="font-weight: 500 !important;" for="uopAlumnus">{volunteerObjectFields.Previous_UOP_Volunteer__c.Web_Label__c}</label>
          </div>
      </div>
      <div class="slds-grid slds-p-vertical--xx-small">
        <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
          <lightning-input type="checkbox" label={volunteerObjectFields.Non_UOP_Volunteering_in_last_12_months__c.Web_Label__c} name="Non_UOP_Volunteering_in_last_12_months__c"
          title="Other_Volunteer_Organisations__c"
          variant="label-hidden"
          onchange={onCheckBoxInputFieldOnChange}
          value={volunteerObjectFields.Non_UOP_Volunteering_in_last_12_months__c}></lightning-input>
        </div>
        <div class="uopBrandLabel slds-size--7-of-7">
            <label class="slds-form-element__label uopInputFieldLabelLight" for="uopAlumnus">{volunteerObjectFields.Non_UOP_Volunteering_in_last_12_months__c.Web_Label__c}</label>
        </div>
    </div>
    <template if:true={volunteerObject.Non_UOP_Volunteering_in_last_12_months__c}>
      <label class="slds-form-element__label uopInputFieldLabel" for="Other_Volunteer_Organisations__c"><abbr class="slds-required"
        title="* indicates a mandatory field">*</abbr>
        {volunteerObjectFields.Other_Volunteer_Organisations__c.Web_Label__c}</label>
        <lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder"
        onchange={onInputFieldOnChange} id="Other_Volunteer_Organisations__c"
        placeholder={volunteerObjectFields.Other_Volunteer_Organisations__c.Web_Placeholder__c}
        value={volunteerObject.Other_Volunteer_Organisations__c} label="" name="Other_Volunteer_Organisations__c"
        required></lightning-input>
    </template>
<div class="slds-grid slds-p-vertical--xx-small">
    <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
        <lightning-input type="checkbox" label={volunteerObjectFields.Other.Web_Label__c} name="Other" title="Other_Volunteering_Experience_Details__c" variant="label-hidden" onchange={onCheckBoxInputFieldOnChange} value={volunteerObject.Other}></lightning-input>
    </div>
    <div class="uopBrandLabel slds-size--7-of-7">
        <label class="slds-form-element__label uopInputFieldLabelLight" for="uopAlumnus">{volunteerObjectFields.Other.Web_Label__c}</label>
    </div>
</div>
<template if:true={volunteerObject.Other}>
    <label class="slds-form-element__label uopInputFieldLabel" for="Other_Volunteer_Organisations__c"><abbr class="slds-required"
      title="* indicates a mandatory field">*</abbr>
      {volunteerObjectFields.Other_Volunteering_Experience_Details__c.Web_Label__c}</label>
      <lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder"
      onchange={onInputFieldOnChange} id="Other_Volunteering_Experience_Details__c"
      placeholder={volunteerObjectFields.Other_Volunteering_Experience_Details__c.Web_Placeholder__c}
      value={volunteerObject.Other_Volunteering_Experience_Details__c} label="" name="Other_Volunteering_Experience_Details__c"
      required></lightning-input>
  </template>
<label class="slds-form-element__label uopInputFieldLabel">{volunteerObjectFields.Previous_Volunteering_Experience__c.Web_Label__c}
</label>
<div class="uopBrandLabel">
    <lightning-dual-listbox name="Previous_Volunteering_Experience__c" variant="label-hidden" label="Select Options" source-label="Available Options" selected-label="Selected Options" class="volunteerFormField inputFieldPlaceHolder" options={pickListValuesObject.Previous_Volunteering_Experience__c}
        onchange={handleMultiPickListValues}>
    </lightning-dual-listbox>
</div>

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Your volunteering skills</div>
<label class="slds-form-element__label uopInputFieldLabel">{volunteerObjectFields.Volunteering_Skills__c.Web_Label__c}
        </label>
<div class="uopBrandLabel">
    <lightning-dual-listbox id="selectOptions" name="Volunteering_Skills__c" variant="label-hidden" label="Select Options" source-label="Available Options" selected-label="Selected Options" class="volunteerFormField inputFieldPlaceHolder" options={pickListValuesObject.Volunteering_Skills__c}
        onchange={handleMultiPickListValues}>
    </lightning-dual-listbox>
</div>
<!-- <template if:true={hasOtherSkills}> -->
<label class="slds-form-element__label uopInputFieldLabel" for="OtherSkill">
            {volunteerObjectFields.Other_Skills__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="otherSkills" placeholder={volunteerObjectFields.Other_Skills__c.Web_Placeholder__c} value={volunteerObject.Other_Skills__c} label=""
    name="Other_Skills__c"></lightning-input>
<!-- </template> -->
<!-- <label class="slds-form-element__label uopInputFieldLabel" for="Other_Experience__c">
  {volunteerObjectFields.Other_Experience__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} id="Other_Experience__c" placeholder={volunteerObjectFields.Other_Experience__c.Web_Placeholder__c} value={volunteerObject.Other_Experience__c}
    label="" name="Other_Experience__c"></lightning-input> -->

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>

<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Your availability</div>
<label class="slds-form-element__label uopInputFieldLabel">{volunteerObjectFields.Volunteer_Availability__c.Web_Label__c}
        </label>
<div class="uopBrandLabel">
    <lightning-dual-listbox name="Volunteer_Availability__c" variant="label-hidden" label="Select Options" source-label="Available Options" selected-label="Selected Options" class="volunteerFormField inputFieldPlaceHolder" options={pickListValuesObject.Volunteer_Availability__c}
        onchange={handleMultiPickListValues}>
    </lightning-dual-listbox>
</div>
<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<!-- <div class="slds-p-vertical--xx-small uopTopicBrandLabel">Your community relationship</div>
<label class="slds-form-element__label uopInputFieldLabel">{volunteerObjectFields.Community_Relationship__c.Web_Label__c}
        </label>
<div class="uopBrandLabel">
    <lightning-dual-listbox name="Community_Relationship__c" variant="label-hidden" label="Select Options" source-label="Available Options" selected-label="Selected Options" class="volunteerFormField inputFieldPlaceHolder" options={pickListValuesObject.Community_Relationship__c}
        onchange={handleMultiPickListValues}>
    </lightning-dual-listbox>
</div>
<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div> -->

<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Why would you like to volunteer?</div>
<div class="uopBrandLabel">
    <label class="slds-form-element__label uopInputFieldLabel" for="providingConsent">{volunteerObjectFields.GW_Volunteers__Volunteer_Notes__c.Web_Label__c}</label>
    <lightning-textarea variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder" name="GW_Volunteers__Volunteer_Notes__c" onchange={onInputFieldOnChange} id="volReason" value={volunteerObject.GW_Volunteers__Volunteer_Notes__c} placeholder={volunteerObjectFields.GW_Volunteers__Volunteer_Notes__c.Web_Placeholder__c}>
    </lightning-textarea>
</div>

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Graduation details</div>
<c-ct_-course-lookup oncourseresults={handleSelectedCourse}></c-ct_-course-lookup>
<label class="slds-form-element__label uopInputFieldLabel" for="GraduationYearInput">Graduation year</label>
<lightning-input variant="label-hidden" id="GraduationYearInput" type="text" pattern="\d{4}" message-when-pattern-mismatch="Please enter a valid year" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} name="Web_Graduation_Year__c" label={volunteerObjectFields.Web_Graduation_Year__c.Web_Label__c}
    placeholder={volunteerObjectFields.Web_Graduation_Year__c.Web_Placeholder__c} value={volunteerObject.Web_Graduation_Year__c} max-length="4">
</lightning-input>
<label class="slds-form-element__label uopInputFieldLabel" for="surNameAtTimeOfGradInput">{volunteerObjectFields.Surname_At_Time_Of_Graduation__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" id="surNameAtTimeOfGrad" type="text" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} name="Surname_At_Time_Of_Graduation__c" label={volunteerObjectFields.Surname_At_Time_Of_Graduation__c.Web_Label__c}
    placeholder={volunteerObjectFields.Surname_At_Time_Of_Graduation__c.Web_Placeholder__c} value={volunteerObject.Surname_At_Time_Of_Graduation__c}></lightning-input>
<label class="slds-form-element__label uopInputFieldLabel" for="surNameAtTimeOfGradInput">{volunteerObjectFields.Employer__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" id="Employer__c" type="text" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} name="Employer__c" label={volunteerObjectFields.Employer__c.Web_Label__c} placeholder={volunteerObjectFields.Employer__c.Web_Placeholder__c}
    value={volunteerObject.Employer__c}></lightning-input>
<!-- <div class="slds-grid slds-wrap">
                <div>
                   <span>
                      <lightning-input 
                         variant="label-hidden"
                         id="isEmployerInput"
                         type="checkbox" 
                         class="alumniformField inputFieldPlaceHolder slds-p-topsmall" 
                         onchange={onInputFieldOnChange}  
                         name="isEmployer"  
                         label="Employer"></lightning-input>
                   </span>
                </div>
                <div class="slds-col slds-size_3-of-12">
                   <span>          <label class="slds-form-element__label slds-p-topsmall uopInputFieldLabel" for="isEmployerInput">Employer</label>
                   </span>
                </div>
             </div> -->
<label class="slds-form-element__label uopInputFieldLabel" for="PositionInput">{volunteerObjectFields.Position__c.Web_Label__c}</label>
<lightning-input variant="label-hidden" id="PositionInput" type="text" class="volunteerFormField inputFieldPlaceHolder" onchange={onInputFieldOnChange} name="Position__c" label={volunteerObjectFields.Position__c.Web_Label__c} placeholder={volunteerObjectFields.Position__c.Web_Placeholder__c}
    value={volunteerObject.Position__c}></lightning-input>



<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="slds-p-vertical--xx-small uopTopicBrandLabel">Continue the conversation, be part of the community
</div>
<div style="text-align: justify;" class="uopBrandLabel">
    <lightning-formatted-rich-text value={keepInTouchPoint1}></lightning-formatted-rich-text>
    <!-- <lightning-formatted-rich-text>{keepInTouch}</lightning-formatted-rich-text> -->
</div>

<!-- <div class="slds-grid">
    <div class="uopBrandLabel slds-col slds-p-vertical--xx-small slds-size_1-of-9 left-align">
        <lightning-input variant="label-hidden" class="volunteerFormField inputFieldPlaceHolder" type="checkbox" id="providingConsent" checked={providingConsent} label="" name="providingConsent" onchange={handleConsentValue}></lightning-input>
    </div>
    <div class="uopBrandLabel slds-size--7-of-7">
        <label class="slds-form-element__label uopInputFieldLabel" for="providingConsent"> I give my consent to the
              Alumni and Advancement team processing my data for contact purposes</label>
    </div>
</div> -->
<!-- 
<div class="slds-grid">
    <div class="uopBrandLabel slds-size--7-of-7">
        <label class="slds-form-element__label uopBrandLabel"> If you are happy for us to contact you, please let us
              know how we can send you news and updates, along with events and other opportunities to get involved. you
              can change your mind at any time.</label>
    </div>

</div> -->

<div class="slds-grid slds-p-vertical--xx-small">
    <div class="uopBrandLabel">
        <form>
            <table>
                <tr>

                    <th class="uopInputFieldLabel">Yes&nbsp;/&nbsp;</th>
                    <th class="uopInputFieldLabel">No</th>
                    <th></th>
                </tr>
                <tr>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchAllYes inputFieldPlaceHolder" type="radio" id="selectAllYes" name="selectAll" value="Yes" onchange={handleSelectAll}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchAllYes inputFieldPlaceHolder" type="radio" id="selectAllNo" name="selectAll" value="No" onchange={handleSelectAll}>

                    </td>
                    <td class="uopInputFieldLabel">
                        Select all
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;">

                        <input class="keepInTouchYes volunteerFormField inputFieldPlaceHolder" type="radio" id="emailConsentYes" name="emailConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo volunteerFormField inputFieldPlaceHolder" type="radio" id="emailConsentNo" name="emailConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by email</b> <abbr class="slds-required" aria-label="required" title="* indicates a mandatory field">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes volunteerFormField inputFieldPlaceHolder" type="radio" id="smsConsentYes" name="smsConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo volunteerFormField inputFieldPlaceHolder" type="radio" id="smsConsentNo" name="smsConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by text message</b> <abbr class="slds-required" aria-label="required" title="* indicates a mandatory field">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes volunteerFormField inputFieldPlaceHolder" type="radio" id="phoneConsentYes" name="phoneConsent" value="Yes" onchange={handleMarketingPerferences}>

                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo volunteerFormField inputFieldPlaceHolder" type="radio" id="phoneConsentNo" name="phoneConsent" value="No" onchange={handleMarketingPerferences}>

                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by phone</b> <abbr class="slds-required" aria-label="required" title="* indicates a mandatory field">*</abbr>
                    </td>
                </tr>
                <tr>

                    <td style="vertical-align: top;">
                        <input class="keepInTouchYes volunteerFormField inputFieldPlaceHolder" type="radio" id="directMailConsentYes" name="directMailConsent" value="Yes" onchange={handleMarketingPerferences}>
                    </td>
                    <td style="vertical-align: top;">
                        <input class="keepInTouchNo volunteerFormField inputFieldPlaceHolder" type="radio" id="directMailConsentNo" name="directMailConsent" value="No" onchange={handleMarketingPerferences}>
                    </td>
                    <td class="uopInputFieldLabel">
                        I'd like to hear from you <b>by post</b> <abbr class="slds-required" aria-label="required" title="* indicates a mandatory field">*</abbr>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</div>
<!-- <div class="slds-p-vertical--xx-small">

    <label class="slds-form-element__label uopInputFieldLabel" for="prefCommunication">
            {volunteerObjectFields.Preferred_Communication_Channel__c.Web_Label__c}</label>
    <lightning-combobox class="volunteerFormField inputFieldPlaceHolder" name="Preferred_Communication_Channel__c" onchange={onInputFieldOnChange} label="" id="prefCommunication" value={volunteerObject.Preferred_Communication_Channel__c} placeholder={volunteerObjectFields.Preferred_Communication_Channel__c.Web_Placeholder__c}
        options={pickListValuesObject.Preferred_Communication_Channel__c}></lightning-combobox>
</div> -->
<div style="text-align: justify;" class="uopBrandLabel">
    <lightning-formatted-rich-text value={keepInTouchPoint2}></lightning-formatted-rich-text>
</div>
<!-- <div class="slds-grid">
<div class="uopBrandLabel slds-size--7-of-7">
  <label class="slds-form-element__label uopBrandLabel">We'll keep your personal details safe and won't share them with any other organisation. For full details on how we collect, use and store your personal data please see our <a href="">Data Protection statement for Alumni</a>. </label>
</div>
</div>
<div class="slds-grid">
<div class="uopBrandLabel slds-size--7-of-7">
  <label class="slds-form-element__label uopBrandLabel">If, at any time, you have any queries about the way we handle your data or you'd like to change the way we contact you please email alumni@port.ac.uk or call Alumni Relations on 02392842705 in the first place, or you can contact the University's Data Protection Officer, Samantha Hill, on 02392 843642 or samantha.hill@port.ac.uk.</label>
</div>
</div> -->

<div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
<div class="uopBrandLabel slds-p-vertical--small">
    <!-- By proceeding to 'Register Now' below I confirm that above details are correct and that I have read and agreed to University of Portsmouth's &nbsp;<a href="https://www.google.com" target="_blank">terms and conditions</a> &nbsp; and &nbsp;
<a href="https://www.google.com" target="_blank">privacy statement.</a> -->
    <lightning-formatted-rich-text value={termsAndConditionsAndPrivacyStatements}></lightning-formatted-rich-text>

</div>
<div class="slds-grid slds-grid_vertical slds-p-top_large">

    <template if:true={hasError}>
    <div class="slds-align_absolute-center grpGiftChoice" id="lastError">
      <label style={errTxtStyle} class="slds-form-element__label slds-align_absolute-left"> You’ve missed something above</label>
    </div>
  </template>

    <div class="slds-grid slds-align_absolute-center slds-grid_vertical">

        <div>
            <button id="registerBtn" class="activeButton slds-button slds-button_success slds-p-top_medium" onclick={validateInputFields}>Register Now</button>
        </div>

    </div>
    <!-- <div class="slds-grid slds-align_absolute-center slds-grid_vertical">
        <button class="inactiveButton slds-button slds-button_destructive slds-p-top_medium" onclick={onCancel}>Cancel</button>
    </div> -->

</div>
</div>
</template>
<!-- Volunteer Form END-->
</template>
</template>