@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/resource/font_Open_Sans);
}

.headingStyle{
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  color: #615897;
}

.fieldLabelStyle{
  font-family: "'Open Sans', sans-serif" !important;
  font-size: 14px !important;
  font-weight: normal;
  padding: 5%;
}

.tileStyle{
  background-color: #ddd;
}