<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 07-30-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
  <article class="slds-tile slds-p-around--xx-small">
    <lightning-layout class="tileStyle">
      <lightning-layout-item size="3">
        <div class="fieldLabelStyle">
          {eventTicket.Name}
        </div>
      </lightning-layout-item>
      <lightning-layout-item size="3">
        <div class="fieldLabelStyle">
          {eventTicket.Event__r.Web_Event_Pricing__c}
        </div>
      </lightning-layout-item>
      <lightning-layout-item size="3">
        <div style="margin-top: -10px;">
          <lightning-combobox options={availableTickets} value={selectedTicketCount} onchange={handleTicketCountChange}>
          </lightning-combobox>
        </div>
      </lightning-layout-item>
    </lightning-layout>
  </article>
</template>