<template>
   
    <h1 class="slds-text-heading--large">Session Registration</h1>
    <hr>
    
    <div class="slds-m-bottom_xx-large">
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
            <span>
        <!-- <div class="slds-m-top-large"> -->
            <c-ct_-sessions-from-event event-id={eventId} onprogressvaluechange={hanldeProgressValueChange}></c-ct_-sessions-from-event>
        <!-- </div> -->
        </span></div>
        <div class="slds-col">
            <span>
                <lightning-button variant="brand" class="slds-float--right slds-m-left_x-small" label="Confirm Sessions" title="Confirm Sessions" onclick={getSelectedSessions}></lightning-button>
            </span>
            
        </div>
    </div>
    </div>

    <div >
    </div>
    <lightning-layout multiple-rows="true">
        <lightning-layout-item margin= "around-small">
            <div class="slds-align_absolute-center">
                <div class="slds-m-top-large">
                    <template if:true={isSessions}>
                        <lightning-accordion style="width: 95vw;">
                            <template for:each={currentPageData} for:item="session">
                                <lightning-accordion-section name={session.session.Name} label={session.session.Name} key={session.session.Id}>
                                    <lightning-input  class="slds-float--right" type="checkbox" data-id={session.session.Id} value={session.selected} onchange={onChecked}></lightning-input>
                                    <p>Session Duration : 
                                        <lightning-formatted-date-time value={session.session.Start_Time__c}  hour="numeric" minute="2-digit" hour12="true" time-zone="Europe/London"></lightning-formatted-date-time> - 
                                        <lightning-formatted-date-time value={session.session.End_Time__c}  hour="numeric" minute="2-digit" hour12="true" time-zone="Europe/London"></lightning-formatted-date-time>
                                    </p>
                                    <p>Session Abstract : {session.session.Session_Abstract__c} </p>     
                                </lightning-accordion-section>
                            </template>
                        </lightning-accordion>
                        
                    </template>
                </div>
            </div>
        </lightning-layout-item>
        <lightning-layout-item class="slds-align_absolute-center" margin= "around-small">
            <div class="slds-align_absolute-center">
               <ul class="slds-button-group-row">
                   <template if:true={hasPrev}>
                    <li class="slds-button-group-item" > 
                            <button class="slds-button slds-button_neutral" onclick ={onPrev}> prev
                             </button>
                         </li>
                    </template>
                    <template for:each={pagesList} for:item= "pageNumber">
                 <li class="slds-button-group-item"  key={pageNumber}> 
                     <button data-id={pageNumber}  class="slds-button slds-button_neutral" onclick={onPageClick}>{pageNumber}</button>
                 </li>
            </template>
            <template if:true={hasNext}>
            <li class="slds-button-group-item" > 
                    <button class="slds-button slds-button_neutral"  onclick={onNext} >next</button>
                 </li>
                </template>
              </ul>

            </div>
        </lightning-layout-item>
    </lightning-layout>
    
</template>