<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-05-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-22-2020   Creation Admin   Initial Version
-->
<template>
    <template if:true={selectedEvent}>
        <c-ct_event-tile event-detail={selectedEvent}></c-ct_event-tile>
        <hr></hr>
        <h2 class="slds-card__header-title slds-p-top--small slds-p-bottom--small headingStyle">
          Select Tickets:
        </h2>    
        <template for:each={eventTickets} for:item="eachTicket">
            <c-ct_ticket-tile event-ticket={eachTicket} key={eachTicket.Id}></c-ct_ticket-tile>
        </template>
        <lightning-button variant="brand" label="Next" title="Next" onclick={handleNext} class=" slds-p-around--xx-small slds-align_absolute-center">
        </lightning-button>
        <hr></hr>
        <!-- <template if:false={showSearchForm}>
          <h2 class="slds-card__header-title slds-p-around--x-small headingStyle">View / update your Event Registration details:</h2>           
          <c-ct_dynamic-record-edit-form record-id={eventId} object-api-name="Event_Registration__c" object-fields={fieldsForRecordEditForm}></c-ct_dynamic-record-edit-form>
        </template> -->
        <c-ct_add-to-calendar record-id={selectedEventId} ></c-ct_add-to-calendar>
    </template>
    <template if:true={selectedTickets}>
        <c-ct_ticket-order-form event-id={selectedEventId} selected-tickets={selectedTickets}></c-ct_ticket-order-form>        
    </template>
    
</template>