<template>

    <div class="main-container">
        <!--<template if:true={showMenu}>
            <template if:true={showSpinner}>
                <div class="spinner-container">
                    <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                </div>
            </template>
            <div class="menu-actions">
                <div class="main-actions">
                    <div class="slds-grid slds-wrap">
                        <div class="slds-col slds-size_6-of-12">
                            <div class="action-item-container" onclick={handleScanClick}>
                                <div class="action-item resizable-element">
                                    <div class="action-item-content">
                                        <span style="padding: 2px;"><lightning-icon icon-name="utility:photo" alternative-text="scan" class="slds-text-align_center" size="medium"></lightning-icon></span>
                                        <h2 class="slds-text-heading_large">Scan</h2>
                                    </div>
                                </div>
                            </div>
                            <input name="file uploader" capture="environment" onchange={handleFilesChange} type="file" class="qr-scanner" multiple style="display:none;"></input>
                        </div>    
                        <div class="slds-col slds-size_6-of-12">
                            <div class="action-item-container"> 
                                <div class="action-item resizable-element" onclick={handleSearchClick}>
                                    <div class="action-item-content">
                                        <span style="padding: 2px;"><lightning-icon icon-name="utility:search" alternative-text="search" size="medium"></lightning-icon></span>
                                        <h2 class="slds-text-heading_large">Search</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slds-col slds-size_6-of-12">
                            <div class="action-item-container"> 
                                <div class="logo-container resizable-element">
                                    <div class="logo"></div>
                                </div> 
                            </div>
                        </div>           
                    </div>
                </div>
            </div>
        </template>-->

            <!-- <c-campaign-check-in-view campaign-id={recordId} onback={handleBackClick}></c-campaign-check-in-view> -->
            <c-campaign-check-in-view currentpage={page} onrecordsload={handleRecordsLoad} pagesize={pagesize} campaign-id={recordId}></c-campaign-check-in-view>
            <template if:true={hasRecords}>
                <c-campaign-check-in-footer onfirst={handleFirst} onlast={handleLast} onnext={handleNext} onprevious={handlePrevious} current-page={page} total-records={totalrecords} page-size={pagesize}></c-campaign-check-in-footer>
            </template>
    </div>
    
</template>