.main-container
{
    margin: auto;
}

.action-item-container
{
    padding: 10px;
}

.menu-actions
{
    margin: auto;
    max-width: 500px;
}

.redirectFrame
{
    width: 100%;
    height: 68px;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    margin: auto; 
}

.action-item
{
    display: grid;
    border: 1px solid rgb(221, 219, 218);
    border-radius: 0.25rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.10);
    margin: auto;
}

.action-item:hover
{
    background-color: rgb(243, 242, 242);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.action-item-content
{
    padding: 20px;
    margin: auto;
    text-align: center;
}

.logo-container
{
    display: grid;
    margin: auto;
}

.logo
{
    background-image: url('https://www.port.ac.uk/assets/images/uop-logo-stacked.svg');
    background-repeat: no-repeat;
    background-position: center;
    height: 65%;
    width: 65%;
    margin: auto;
}

.show 
{
    animation: anime 10s 1;
}

@keyframes anime 
{
    from {opacity: 1;}
    to {opacity: 0;}
}