<!--
  @File Name          : ct_SetAccountAsPrivateFromContact.html
  @Description        : 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 29/6/2020, 7:59:46 pm
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    24/6/2020   Creation Admin     Initial Version
-->
<template>
  <lightning-card title="Mark as private to AAA" icon-name="standard:report">
    <template if:true={showSpinnerBoolean}>
      <div>
         <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
      </div>
   </template>
   <!-- <div class="slds-col slds-align_absolute-center slds-p-around_small">
    <lightning-button variant="brand" label="Make records private" title="Set related records as private" onclick={updateRelatedAccount} class="slds-m-left_x-small"></lightning-button>
   </div> -->
   <div class="slds-col slds-align_absolute-center slds-p-around_small">
   <div class="slds-form-element">
    <label class="slds-checkbox_toggle slds-grid">
    <label><span class="slds-form-element__label slds-m-bottom_none">Mark private</span></label>
    <input type="checkbox" onchange={updateRelatedAccount} name="checkbox-toggle-15" checked={isPrivate} value="checkbox-toggle-15" aria-describedby="checkbox-toggle-15" />
    <span id="checkbox-toggle-15" class="slds-checkbox_faux_container" aria-live="assertive">
    <span class="slds-checkbox_faux"></span>
    <span class="slds-checkbox_on">Enabled</span>
    <span class="slds-checkbox_off">Disabled</span>
    </span>
    </label>
    </div>
  </div>
  </lightning-card>
</template>