<template>
    <lightning-card title="Event Details" icon-name="custom:custom50">
            <div class="slds-m-around_medium">
                <template if:true={evt}>
                    
                        <p key={evt.Id}>Event Name: {evt.Name}</p>
                        <p key={evt.Id}>Event Description: {evt.Event_Description__c}</p>
                </template>
                <template if:true={error}>
                    {error}
                </template>
            </div>
            <div>
                <lightning-button label="Facebook" title="Non-primary action" onclick={handleClickFb} class="slds-m-left_x-small"></lightning-button>
                <lightning-button label="Twitter" title="Non-primary action" onclick={handleClickTw} class="slds-m-left_x-small"></lightning-button>
                <lightning-button label="Linkedin" title="Non-primary action" onclick={handleClickLn} class="slds-m-left_x-small"></lightning-button> 
            </div>

            <!-- <div class="fb-share-button" data-href="https://eventsdev1-universityofportsmouth.cs100.force.com/s/event-details" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Feventsdev1-universityofportsmouth.cs100.force.com%2Fs%2Fevent-details&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div> -->
            <!-- <div class="social share--horizontal">
                <p><a href="#" class="social share--link twitter">
                  <span class="icon-twitter" aria-hidden="true"></span>
                  Tweet
                </a></p>
        
                <p><a href="#" class="social share--link facebook">
                <span class="icon-facebook" aria-hidden="true"></span>
                  Share
                </a></p> 
        
                <p><a href="#" class="social share--link google-plus">
                <span class="icon-google-plus" aria-hidden="true"></span>
                  +1
                </a></p>        
              </div> -->
              
        </lightning-card>
</template>