<!--
   @File Name          : ct_AddressValidator.html
   @Description        : AFD Address verification Lightning Web Component
   @Author             : Creation Admin
   @Group              : 
   @Last Modified By   : Umashankar Creation
   @Last Modified On   : 6/5/2020, 2:58:03 PM
   @Modification Log   : 
   Ver       Date            Author      		    Modification
   1.0    2/28/2020   Creation Admin     Initial Version
   -->
   <template>
    <!-- Address List Box-->
     

<template if:true={isLightningRecordPage}>
    <lightning-card title="Update Address Details" icon-name="standard:address">
      <template if:true={showSection}>
          <lightning-button-icon icon-name="utility:chevronright" slot="actions" alternative-text="collapsed" title="click to collapse" onclick={show_Form}></lightning-button-icon> 
      </template>
<template if:false={showSection}>
        <lightning-button-icon icon-name="utility:chevrondown" slot="actions" alternative-text="uncollapsed" title="click to uncollapse" onclick={hide_Form}></lightning-button-icon>  
      </template>


<template if:true={showForm}>
  <div style="position: relative;">
   <template if:true={showSpinner}>
    <div>
      <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
   </div>
</template>
<div>

    <div class="slds-form-element">


        <label class="uopInputFieldLabel slds-form-element__label slds-p-left_xx-small">Find my address</label>
        <div class={getStyleClass}>
            <div class={getContainerClass}>
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right slds-p-left_xx-small" role="none">
                        <input type="text" class="inputFiledPlaceHolder slds-input slds-combobox__input" id="combobox-unique-id-7" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Please enter valid address" value={searchString}
                        onchange={onInputFieldChange} onclick={onInputFieldChange}></input>
                        <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                         <lightning-icon icon-name="utility:search" alternative-text="Search Address" size="x-small"></lightning-icon>
                         
                      </span>
                    </div>
                    <div>
                        <template if:true={isAddress}>
                      <div id="listbox-unique-id" role="listbox">
                         <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation" style="height: 10rem; overflow-y: scroll; display: block; min-width: auto; max-width: 100% ; width: 100%;"  >                           
                            <template for:each={addressList} for:item="address" for:index="index">
                            
                               <li key={address.label} title={address.label} role="presentation" class="slds-listbox__item" data-selectedindex={address.value} onclick={handleSelectedAddress}>
                                  <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                     
                                     <span class="slds-listbox__option-text slds-listbox__option-text_entity" name={index}>{address.label}</span>
                                   
                                  </div>
                               </li>
                            
                            </template>
                        </ul>

                    </div>
                    </template>

                </div>
            </div>

        </div>
        <div class="slds-grid">
            <button class="activeButton slds-button slds-button_destructive slds-align_absolute-center" onclick={verifyAddress}>Find address</button>
        </div>
    </div>
</div>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for=""><abbr class="slds-required" title="required">*</abbr>Street</label>
<lightning-textarea variant="label-hidden" id="MailingStreetInput" name="Street" value={addressObject.Street} onchange={onInputFieldOnChange} class="addressFormField inputFiledPlaceHolder slds-p-horizontal_xx-small" required placeholder="Enter your street"></lightning-textarea>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for="">City</label>
<lightning-input variant="label-hidden" type="text" class="addressFormField inputFiledPlaceHolder slds-p-horizontal_xx-small" onchange={onInputFieldOnChange} name="City" placeholder="Enter your city" value={addressObject.City}></lightning-input>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for="">County / State</label>
<lightning-input type="text" variant="label-hidden" class="addressFormField inputFiledPlaceHolder slds-p-horizontal_xx-small" onchange={onInputFieldOnChange} name="State" placeholder="Enter your state" value={addressObject.State}></lightning-input>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for=""><abbr class="slds-required" title="required">*</abbr>Postal Code / Zip</label>
<lightning-input variant="label-hidden" type="text" class="addressFormField inputFiledPlaceHolder slds-p-horizontal_xx-small" onchange={onInputFieldOnChange} name="PostalCode" placeholder="Enter your postalcode" value={addressObject.PostalCode} required>

</lightning-input>
<div class="slds-p-horizontal_xx-small">
<c-ct_-country-picklist onselectedcountry={handleCountrySelect}></c-ct_-country-picklist>
</div>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for="">Address Type</label>
<lightning-combobox variant="label-hidden" onchange={onInputFieldOnChange}
          class="addressFormField inputFieldPlaceHolder slds-p-horizontal_xx-small" name="hed__Address_Type__c" label="" id="hed__Address_Type__c"
          value={addressObject.hed__Address_Type__c} placeholder="Select address type"
          options={pickListvalues}></lightning-combobox>
<label class="slds-form-element__label uopInputFieldLabel slds-p-horizontal_xx-small" for="">Is Default Address</label>
<lightning-input type="checkbox" label="" name="hed__Default_Address__c"
            variant="label-hidden"
            onchange={onCheckBoxInputFieldOnChange}
            value={addressObject.hed__Default_Address__c}
            class="slds-p-horizontal_xx-small"
            checked></lightning-input>

</div>
<template if:true={isLightningRecordPage}>

<center>
<div class=" slds-p-top--small">
   <div class="slds-grid">
      <div class="slds-size_1-of-3 ">
         <button 
         type="button" 
         class="inactiveButton slds-button slds-button_destructive slds-float_right" 
         onclick={clearValues}>Clear</button>
       </div>
      <div class="slds-size_2-of-4">
         <button 
         type="button" 
         class="activeButton slds-button slds-button_destructive" 
         onclick={validateInputFields}>Update Address</button>
       </div>
   </div>
</div>
</center>
</template>
</div>
</template>
</lightning-card>
</template>

<!--End-->

</template>