@font-face {
  font-family: "'Encode Sans Expanded', sans-serif";
  src: url(/resource/ct_Font_Encode_Sans_Expanded);
}
@font-face {
  font-family: "'Open Sans', sans-serif";
  src: url(/resource/font_Open_Sans);
}
.activeButton {
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  font-size:15px !important;
  /* font: inherit; */
  height: 30px;
  width: auto;
  background-color: #0078B4 !important;
  font-weight: 600 !important;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  border-radius: 3px;
  transition-duration: 0.3s;
  transition-property: background-color, color;


  /* padding: 3px; */
}

.activeButton:hover{
  background-color: #00a0ff !important; 
  color:#FFFFFF !important;
  font-weight: 600 !important;


}

.inactiveButton {
  font-family: "'Encode Sans Expanded', sans-serif" !important;
  font-size: 15px !important;
  /* font: inherit; */
  height: 30px;
  width: auto;
  background-color: #0078B4 !important;
  border-color: #FFFFFF !important;
  color: #FFFFFF;
  font-weight: 600 !important;
  margin: 0px;
  transition-duration: 0.3s;
  transition-property: background-color, color;

}
.inactiveButton:hover{
  background-color: #00a0ff !important; 
  color:#FFFFFF !important;
  font-weight: 600 !important;
}
.uopInputFieldLabel {
  color:  #212F3B;
  font-size: 14px !important;
  font-weight: bold; 
  font-family: "'Open Sans', sans-serif";
  /* font: inherit; */
}
.inputFiledPlaceHolder {
  font-family: "'Open Sans', sans-serif";
  font-weight: normal;
}