<!--
  @File Name          : ct_PauseDirectDebit.html
  @Description        : LWC Component to Pause Direct Debit 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 6/16/2020, 3:08:34 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    6/4/2020   Creation Admin     Initial Version
-->
<template>
  <!-- <div class="titleHeading slds-text-heading_medium slds-p-bottom_x-small" style="text-align: center;"><b>{modalHeading}</b></div> -->
  <div>
  <div class="slds-is-relative">
    <template if:true={showSpinnerBoolean}>
      <div class="slds-m-vertical--xx-large">
         <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
      </div>
    </template>
<template if:true={showForm}>
<template if:true={showPauseDirectDebit}>
  <div class="slds-box_x-small slds-box slds-theme--error slds-p-top--small" style="font-family: 'Encode Sans Expanded', sans-serif; text-align: center;">
    Pause Direct Debit
  </div>

  <p class="uopNote slds-p-top--small">
    Please click on confirm button to pause this Direct Debit.
  </p>

  <p class="uopNote slds-p-top--small">
    This action will result in:
  </p>

  <ul class="slds-list_dotted slds-p-top--small uopNote">
    <li>This Direct Debit (Recurring Donation) being paused.</li>
    <li>Upcoming Opportunities created for this Direct Debit will be automatically set to Closed Lost.</li>
  </ul>

  
<p class="uopNote slds-p-top--small">
  You will be able to resume this Direct Debit if paused by clicking Pause Direct Debit Button again.
</p>

  </template>

<template if:true={showResumeDirectDebit}>
    <div class="slds-box_x-small slds-box slds-theme--success slds-p-top--small" style="font-family: 'Encode Sans Expanded', sans-serif; text-align: center;">
      Resume Direct Debit
    </div>

    <p class="uopNote slds-p-top--small">
      Please click on confirm button to resume this Direct Debit.
    </p>

    <p class="uopNote slds-p-top--small">
      This action will result in:
    </p>
  
    <ul class="slds-list_dotted slds-p-top--small uopNote">
      <li>This Direct Debit (Recurring Donation) being resumed.</li>
      <li>Upcoming Opportunities created for this Direct Debit will be processed and payment will be ready to be collected in scheduled date.</li>
    </ul>
    </template>



<div class="slds-grid slds-p-vertical_small slds-align_absolute-center">

    <div>
        <button type="button" name="Cancel" value="Cancel" onclick={redirectToDDRecord} class="inactiveButton slds-button slds-button_destructive">Cancel</button>
    </div>

    <div class="slds-p-horizontal--x-small">
        <div class="slds-p-horizontal--x-small">
            <button type="button" name="Confirm" value="Confirm" onclick={handleConfirm} class="activeButton slds-button slds-button_success">Confirm</button>
        </div>
    </div>
</div>
</template>
</div>
</div>
</template>