@font-face {
    font-family: "'Encode Sans Expanded', sans-serif";
    src: url(/resource/ct_Font_Encode_Sans_Expanded);
}

@font-face {
    font-family: "'Open Sans', sans-serif";
    src: url(/resource/font_Open_Sans);
}

.uopHeading {
    color: #3C023C;
    font-family: "'Encode Sans Expanded', sans-serif";
    font-size: 15px !important;
    font-weight: bold !important;
}

.titleHeading {
    color: #3C023C;
    font-family: "'Encode Sans Expanded', sans-serif";
}

.borderLine {
    border-color: #3c023c;
}

.thankYouClass {
    font-family: "'Encode Sans Expanded', sans-serif";
    font-weight: bold !important;
    color: #621360;
}

.completeButton {
    width: 80% !important;
    font-family: "'Encode Sans Expanded', sans-serif";
    height: 30px;
}

.activeButton {
    font-size: 15px !important;
    font-family: "'Encode Sans Expanded', sans-serif" !important;
    background-color: #0078B4;
    font-weight: 600;
    border-color: #6f6f6f;
    color: #FFFFFF;
    width: 100%;
}

.inactiveButton {
    font-family: "'Encode Sans Expanded', sans-serif";
    width: 100%;
    background-color: #dddddd !important;
    color: #FFFFFF;
    color: black;
    border-color: #6f6f6f;
    font-size: 15px !important;
}

.spinnerContainer {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}

.uopInputFieldLabel {
    color: #3C023C !important;
    font-size: 14px !important;
    font-family: "'Open Sans', sans-serif" !important;
}

.uopNote {
    color: #3C023C !important;
    font-size: 13px !important;
    font-family: "'Open Sans', sans-serif" !important;
}

.inactiveButton:hover {
    background-color: #505457 !important;
    color: #FFFFFF!important;
}

.activeButton:hover {
    background-color: #505457;
    color: #FFFFFF;
}

.inputFiledPlaceHolder {
    font-family: "'Open Sans', sans-serif" !important;
}

.activeButton:disabled {
    background: #c9c7c5 !important;
    border-color: #c9c7c5 !important;
    color: #fff !important;
}