<!--
  @description       : 
  @author            : Creation Admin
  @group             : 
  @last modified on  : 08-05-2020
  @last modified by  : Creation Admin
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   07-23-2020   Creation Admin   Initial Version
-->
<template>
  <hr></hr>
  <h2 class="slds-card__header-title headingStyle">Tickets</h2>

  <div class="fieldLabelStyle">
    <lightning-datatable key-field="id" data={tickets} columns={columns} hide-checkbox-column>
    </lightning-datatable>
  </div>
  Total :
  <div class="slds-box slds-box_xx-small slds-text-align_right">
    
    <lightning-formatted-number value={totalPrice} format-style="currency"></lightning-formatted-number>

  </div>
  <div class="slds-grid slds-grid--pull-padded slds-grid_vertical">
    <div class="slds-col slds-align_absolute-center slds-p-around--x-small">
      <lightning-button variant="brand" label="Confirm Order / Pay Now" title="Confirm Order / Pay Now"
        onclick={handleConfirmOrder}>
      </lightning-button>
    </div>
    <div class="slds-col slds-align_absolute-center slds-p-around--x-small">
      <lightning-button variant="destructive" label="Cancel" title="Cancel" onclick={handleCancelOrder}>
      </lightning-button>
    </div>
  </div>

</template>