<!--
  @File Name          : ct_DirectDebitForm.html
  @Description        : 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Umashankar Creation
  @Last Modified On   : 7/1/2020, 6:42:58 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    3/30/2020   Creation Admin     Initial Version
-->
<template>
  
  <div class="" style="width:100%">
    <div class="slds-align_absolute-center" >
      <img src={uopLogoUrl} style="width: 25%;height:20%;" />
    </div>
  </div>
  <template if:true={showSpinnerBoolean}>
     <div>
        <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
     </div>
  </template>
  <!-- Custom Toast Message to show Success and Error Message-->
<!-- <template if:true={showErrorcustomToast}>
  <div class="slds-notify_container">
     <div class="slds-notify slds-notifytoast slds-themeerror" role="alert">
        <span class="slds-assistive-text">Error</span>
        <span>
           <lightning-icon class="slds-p-rightsmall" icon-name="utility:error" variant="inverse" alternative-text="Error" title="Error"></lightning-icon>
        </span>
        <lightning-button-icon icon-name="utility:close" class="slds-button slds-notify__close slds-button--icon-inverse" variant="bare-inverse" alternative-text="Close" title="Close" onclick={onErrorMessageClose}></lightning-button-icon>
        <div class="slds-notify__content">
           <p>{customToastMessage}</p>
        </div>
     </div>
  </div>
</template> -->
<template  if:true={isDirectDebitSuccessfully}>
  <template if:true={directDebitObject}>
    <div class="slds-container--center" style="width:70%;">
      <div class="titleHeading slds-text-heading_medium slds-p-vertical_x-small"><b>New Direct Debit</b></div>
      <div class="uopHeading slds-p-vertical_x-small">Select a Contact</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      
      <lightning-record-edit-form object-api-name="npe03__Recurring_Donation__c">
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_1-of-1">
            <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.npe03__Contact__c.Web_Label__c}</label>
            <lightning-input-field field-name="npe03__Contact__c" name="npe03__Contact__c"
            value={directDebitObject.npe03__Contact__c}
            onchange={handleContactChange}
            variant="label-hidden">
            </lightning-input-field>
          </div>
          <!-- <div class="slds-col slds-size_1-of-2">
            <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.npe03__Organization__c.Web_Label__c}</label>
            <lightning-input-field field-name="npe03__Organization__c" name="npe03__Organization__c"
            value={directDebitObject.npe03__Organization__c}
            onchange={handleContactChange}
            variant="label-hidden">
            </lightning-input-field>
          </div> -->
        </div>
      </lightning-record-edit-form>

       <label class="slds-form-element__label uopInputFieldLable" for="">i.e. Select a Contact to create the Direct Debit against
        </label>
      <div class="uopHeading slds-p-vertical_x-small">Name your Direct Debit</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>

        <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Name.Web_Label__c}
        </label>
        <lightning-input 
                      type="text" 
                      id="NameInput"
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Name" 
                      placeholder={directDebitMetaDataObject.Name.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Name.Web_Label__c} 
                      value={directDebitObject.Name} 
                      ></lightning-input>
        <label class="slds-form-element__label uopInputFieldLable" for="">e.g Joe Bloggs Direct Debit 01/06/2020
        </label>

      <div class="uopHeading slds-p-vertical_x-small">Select Direct Debit Duration</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <label class="slds-form-element__label uopInputFieldLable" for="salutationInput"> {directDebitMetaDataObject.npe03__Open_Ended_Status__c.Web_Label__c}
      </label>
      <lightning-combobox 
         variant="label-hidden"
         name="npe03__Open_Ended_Status__c"
         class="ddformField inputFiledPlaceHolder" 
         label={directDebitMetaDataObject.npe03__Open_Ended_Status__c.Web_Label__c}
         id="SalutationInput"
         placeholder={directDebitMetaDataObject.npe03__Open_Ended_Status__c.Web_Placeholder__c} 
         value={directDebitObject.npe03__Open_Ended_Status__c} 
         options={pickListValuesObject.OpenEndedStatus}
         onchange={onInputFieldOnChange} ></lightning-combobox>
         <label class="slds-form-element__label uopInputFieldLable" for="">'Open' creates an Open-Ended Recurring Donation. 'None' creates a fixed-term Direct Debit with a specific end date.
        </label>
      <div class="uopHeading slds-p-vertical_x-small">Enter the Installment Details</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        <label class="slds-form-element__label uopInputFieldLable slds-p-vertical--xx-small" for=""> e.g £100 per month to be collected on the 1st of the Month
        </label>
        <div>
        <label class="slds-form-element__label uopInputFieldLable" for=""> <abbr class="slds-required" title="required">*</abbr>{directDebitMetaDataObject.npe03__Amount__c.Web_Label__c}
        </label>
        </div>
        <lightning-input variant="label-hidden" class="ddformField inputFiledPlaceHolder" type="number" placeholder={directDebitMetaDataObject.npe03__Amount__c.Web_Placeholder__c} min="1" name="npe03__Amount__c" id="donationAmountSecond" onchange={onInputFieldOnChange} value={directDebitObject.npe03__Amount__c} 
        formatter="currency" step="0.01" required></lightning-input>

        <label class="slds-form-element__label uopInputFieldLable" for=""> {directDebitMetaDataObject.npe03__Installment_Period__c.Web_Label__c}
        </label>
        <lightning-combobox 
        variant="label-hidden"
        name="npe03__Installment_Period__c"
        class="ddformField inputFiledPlaceHolder" 
        label={directDebitMetaDataObject.npe03__Installment_Period__c.Web_Label__c}
        placeholder={directDebitMetaDataObject.npe03__Installment_Period__c.Web_Placeholder__c} 
        value={directDebitObject.npe03__Installment_Period__c} 
        options={pickListValuesObject.npe03__Installment_Period__c}
        onchange={onInputFieldOnChange} ></lightning-combobox>

        <label class="slds-form-element__label uopInputFieldLable" for=""> {directDebitMetaDataObject.npe03__Date_Established__c.Web_Label__c}
        </label>
        <lightning-input 
        type="date" 
        id=""
        variant="label-hidden"
        class=" ddformField inputFiledPlaceHolder" 
        onchange={onInputFieldOnChange} 
        name="npe03__Date_Established__c"  
        label={directDebitMetaDataObject.npe03__Date_Established__c.Web_Label__c} 
        placeholder={directDebitMetaDataObject.npe03__Date_Established__c.Web_Placeholder__c} 
        value={directDebitObject.npe03__Date_Established__c} 
        date-style="short"></lightning-input>

        <label class="slds-form-element__label uopInputFieldLable" for="">Collection Date</label>
        <lightning-combobox 
        variant="label-hidden"
        name="CollectionDate"
        class="ddformField inputFiledPlaceHolder" 
        placeholder="Select your collection date" 
        value={directDebitObject.CollectionDate} 
        options={pickListValuesObject.CollectionDate}
        onchange={onInputFieldOnChange} ></lightning-combobox>
        <label class="slds-form-element__label uopInputFieldLable" for="" style="text-align: justify;">
        NOTE: There must be 15+ days from the Date Established to the first Collection Date. This is due to the time it takes to process a
        Direct Debit Instruction (DDI) &amp; approve before the first collection date. Payments can only be taken against approved DDIs.</label>
      <template if:true={openEndedStatus}>
      <div class="uopHeading slds-p-vertical_x-small">For Fixed-Term Direct Debits</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.npe03__Installments__c.Web_Label__c}</label>
        <lightning-input variant="label-hidden" class="ddformField inputFiledPlaceHolder" type="number" placeholder={directDebitMetaDataObject.npe03__Installments__c.Web_Placeholder__c}   name="npe03__Installments__c"  label="" onchange={onInputFieldOnChange}
        ></lightning-input>
        <label class="slds-form-element__label uopInputFieldLable slds-p-vertical--xx-small" for=""> e.g For a six Month Direct Debit enter the number 6.This will create six opportunities only to collect against.
        </label>
      </template>
      <div class="uopHeading slds-p-vertical_x-small">Select where funds should be allocated</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.General_Accounting_Unit__c.Web_Label__c}</label>

      <lightning-combobox 
        variant="label-hidden"
        name="General_Accounting_Unit__c"
        placeholder={{directDebitMetaDataObject.General_Accounting_Unit__c.Web_Placeholder__c}}
        class="ddformField inputFiledPlaceHolder" 
        value={directDebitObject.General_Accounting_Unit__c} 
        options={pickListValuesObject.General_Accounting_Unit__c}
        label={directDebitMetaDataObject.npe03__Date_Established__c.Web_Label__c} 

        onchange={onInputFieldOnChange} ></lightning-combobox>
        <label class="slds-form-element__label uopInputFieldLable slds-p-vertical--xx-small" for="">NOTE: For Direct Debits the Amount cannot be split between multiple General Accounting Units.
        </label>
      <div class="uopHeading slds-p-vertical_x-small">Is the Donor happy for Gift Aid to be claimed?</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Gift_Aid__c.Web_Label__c}</label>
        <lightning-input type="checkbox" label={directDebitMetaDataObject.Gift_Aid__c.Web_Label__c} name="Gift_Aid__c"
        variant="label-hidden"
        onchange={onInputFieldOnChange}
        value={directDebitObject.Gift_Aid__c}></lightning-input>
      <div class="uopHeading slds-p-vertical_x-small">Enter Marketing Informaion</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Primary_Campaign_Source__c.Web_Label__c}</label>
          <lightning-record-edit-form object-api-name="npe03__Recurring_Donation__c">
            <lightning-input-field field-name="Primary_Campaign_Source__c" name="Primary_Campaign_Source__c"
            value={directDebitObject.Primary_Campaign_Source__c}
            onchange={handleContactChange}
            variant="label-hidden">
            </lightning-input-field>
          </lightning-record-edit-form>
          <!-- <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Primary_Campaign_Source__c" 
                      placeholder={directDebitMetaDataObject.Primary_Campaign_Source__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Primary_Campaign_Source__c.Web_Label__c} 
                      value={directDebitObject.Primary_Campaign_Source__c} 
                      ></lightning-input> -->
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Lead_Source__c.Web_Label__c}</label>
          <lightning-combobox 
        variant="label-hidden"
        name="Lead_Source__c"
        class="ddformField inputFiledPlaceHolder" 
        placeholder={directDebitMetaDataObject.Lead_Source__c.Web_Placeholder__c} 
        value={directDebitObject.Lead_Source__c} 
        options={pickListValuesObject.Lead_Source__c}
        onchange={onInputFieldOnChange} ></lightning-combobox>
          <!-- <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Lead_Source__c" 
                      placeholder={directDebitMetaDataObject.Lead_Source__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Lead_Source__c.Web_Label__c} 
                      value={directDebitObject.Lead_Source__c} 
                      ></lightning-input> -->
        </div>
      </div>
      <div class="uopHeading slds-p-vertical_x-small">Mark the donation as 'Private' (if applicable)</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
        <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Private__c.Web_Label__c}</label>
        <lightning-input type="checkbox" label={directDebitMetaDataObject.Private__c.Web_Label__c} name="Private__c"
        variant="label-hidden"
        onchange={onInputFieldOnChange}
        value={directDebitObject.Private__c}></lightning-input>
      <div class="uopHeading slds-p-vertical_x-small">Enter Tribute Information (if applicable)</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Tribute_Type__c.Web_Label__c}</label>
        <lightning-combobox 
        variant="label-hidden"
        name="Tribute_Type__c"
        class="ddformField inputFiledPlaceHolder" 
        placeholder={directDebitMetaDataObject.Tribute_Type__c.Web_Placeholder__c} 
        value={directDebitObject.Tribute_Type__c} 
        options={pickListValuesObject.Tribute_Type__c}
        onchange={onInputFieldOnChange} ></lightning-combobox>
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Notification_Preference__c.Web_Label__c}</label>
        <lightning-combobox 
        variant="label-hidden"
        name="Notification_Preference__c"
        class="ddformField inputFiledPlaceHolder" 
        placeholder={directDebitMetaDataObject.Notification_Preference__c.Web_Placeholder__c}  
        value={directDebitObject.Notification_Preference__c} 
        options={pickListValuesObject.Notification_Preference__c}
        onchange={onInputFieldOnChange} ></lightning-combobox>
        </div>
      </div>
      <lightning-record-edit-form object-api-name="npe03__Recurring_Donation__c">
        <div class="slds-grid slds-gutters">
          <div class="slds-col slds-size_1-of-2">
            <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Honoree_Contact__c.Web_Label__c}</label>
            <lightning-input-field field-name="Honoree_Contact__c" name="Honoree_Contact__c"
            value={directDebitObject.Honoree_Contact__c}
            onchange={handleContactChange}
            variant="label-hidden">
            </lightning-input-field>
          </div>
          <div class="slds-col slds-size_1-of-2">
            <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Notification_Recipient_Contact__c.Web_Label__c}</label>
            <lightning-input-field field-name="Notification_Recipient_Contact__c" name="Notification_Recipient_Contact__c"
            value={directDebitObject.Notification_Recipient_Contact__c}
            onchange={handleContactChange}
            variant="label-hidden">
            </lightning-input-field>
          </div>
        </div>
      </lightning-record-edit-form>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Honoree_Name__c.Web_Label__c}</label>
          <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Honoree_Name__c" 
                      placeholder={directDebitMetaDataObject.Honoree_Name__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Honoree_Name__c.Web_Label__c} 
                      value={directDebitObject.Honoree_Name__c} 
                      ></lightning-input>        
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Notification_Recipient_Name__c.Web_Label__c}</label>
          <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Notification_Recipient_Name__c" 
                      placeholder={directDebitMetaDataObject.Notification_Recipient_Name__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Notification_Recipient_Name__c.Web_Label__c} 
                      value={directDebitObject.Notification_Recipient_Name__c} 
                      ></lightning-input>
        </div>
      </div>
      <div class="slds-grid slds-gutters">
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Notification_Message__c.Web_Label__c}</label>
          <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Notification_Message__c" 
                      placeholder={directDebitMetaDataObject.Notification_Message__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Notification_Message__c.Web_Label__c} 
                      value={directDebitObject.Notification_Message__c} 
                      ></lightning-input>        
        </div>
        <div class="slds-col slds-size_1-of-2">
          <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Notification_Recipient_Information__c.Web_Label__c}</label>
          <lightning-input 
                      type="text" 
                      class="ddformField inputFiledPlaceHolder"
                      variant="label-hidden" 
                      onchange={onInputFieldOnChange} 
                      name="Notification_Recipient_Information__c" 
                      placeholder={directDebitMetaDataObject.Notification_Recipient_Information__c.Web_Placeholder__c} 
                      label={directDebitMetaDataObject.Notification_Recipient_Information__c.Web_Label__c} 
                      value={directDebitObject.Notification_Recipient_Information__c} 
                      ></lightning-input>
        </div>
      </div>
      <div class="uopHeading slds-p-vertical_x-small">Enter any other Information</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <label class="slds-form-element__label uopInputFieldLable" for="">{directDebitMetaDataObject.Description__c.Web_Label__c}</label>
      <lightning-textarea name="Description__c" 
      class="ddformField inputFiledPlaceHolder"
      label={directDebitMetaDataObject.Description__c.Web_Label__c} 
      placeholder={directDebitMetaDataObject.Description__c.Web_Placeholder__c} 
      variant="label-hidden"
      onchange={onInputFieldOnChange} 
      >
      </lightning-textarea>
      <div class="uopHeading slds-p-vertical_x-small">Direct Debit Instruction (DDI) Processing</div>
      <div class=" slds-p-vertical--xx-small slds-border_bottom borderLine"></div>
      <label class="slds-form-element__label uopInputFieldLable" for="">You can either choose to process the Direct Debit Instruction now or at a later date.</label>
      <br/><br/>
      <label class="slds-form-element__label uopInputFieldLable" style="text-align:justify;">If you choose to process the Authorisation now then you will need to enter Donor Bank Information on the next screen.</label>
      <br/><br/>
      <label class="slds-form-element__label uopInputFieldLable" style="text-align:justify;">If the Donor wishes to complete a Hard Copy DDI Mandate then select 'Process Authorisation Later'. You will need to send the
      Donor a Direct Debit Mandate. Once returned you can complete the Authorisation Interface and attach a scan of the DDI to the Direct Debit Record.
      </label>
      <center>
        <div class="slds-grid slds-p-vertical_large slds-align_absolute-center" >
           <div class="slds-p-horizontal--small">
              <button 
                 type="button" 
                 name="Process Authorisation Now" 
                 value="Process Authorisation Now" 
                 class="inactiveButton slds-button slds-button_success" 
                 onclick={validateForm}
                >Process Authorisation Now</button>
           </div>
           <div class="slds-p-horizontal--small">
            <button 
               type="button" 
               name="Process Authorisation Later" 
               value="Process Authorisation Later" 
               class="inactiveButton slds-button slds-button_success" 
               onclick={validateForm}>Process Authorisation Later</button>
         </div>
           <div class="slds-p-horizontal--small">
              <button 
                 type="button" 
                 name="Cancel" 
                 value="Cancel" 
                 class="inactiveButton slds-button slds-button_destructive" 
                 onclick={oncancel}>Cancel</button>
           </div>
        </div>
     </center>






        


      
    </div>
  </template>
</template>
<!--###### Asperato Payment######-->
<template if:true={showAsperatoPayment}>
  <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">

          <header class="slds-modal__header">
              <lightning-button-icon icon-name="utility:close" onclick={closeModel} alternative-text="close" variant="bare-inverse" class="slds-modal__close" ></lightning-button-icon>
          </header>
          <!--###### MODAL BOX BODY Part Start######-->
          <!-- <div id="aspformcontainer" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(50,50,50,0.92); z-index: 9999999999999999;">
            <div style="display: flex; width: 100%; height: 100%; align-items: center; justify-content: center;">
                
            </div>
        </div> -->
          <iframe id="aspframe"   style="background-color: white; width: 100%; height: 100%;" src={paymentIframeURL}>
        </iframe>
          <!--###### MODAL BOX FOOTER Part Start ######-->
      </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open"></div>
  <!--###### MODAL BOX Part END Here ######-->
</template>
</template>