@font-face {
  font-family: 'Encode Sans';
  src: url(/resource/font_Encode_Sans);
}

@font-face {
  font-family: 'Open Sans';
  src: url(/resource/font_Open_Sans);
}

.uopHeading {
  color: #3C023C;
  font-family: 'Encode Sans';
  font-size: 15px !important;
  font-weight: bold !important;
}

.titleHeading{
  color: #3C023C;
  font-family: 'Encode Sans';
}
.borderLine {
  border-color: #3c023c;
}

.thankYouClass {
  font-family: 'Encode Sans';
  font-weight: bold !important;
  color: #621360;
}

.completeButton {
  width: 80% !important;
  font-family: 'Encode Sans';
  height: 30px;
}

.activeButton {
  font-family: 'Encode Sans';
  height: 40px;
  width: 100px;
  background-color: #00A0FF !important;
  border-color: #FFFFFF!important;
  color: #FFFFFF;
  font-size: 15px !important;
}

.inactiveButton {
  font-family: 'Encode Sans';
  width: 100%;
  background-color: #0078B4 !important;
  border-color: #FFFFFF !important;
  color: #FFFFFF;
  font-size: 15px !important;
}

.spinnerContainer {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
}

.uopInputFieldLable {
  color: #3C023C !important;
  font-size: 14px !important;
  font-family: 'Open Sans' !important;
}

.inactiveButton:hover {
  background-color: #00A0FF !important;
  color: #FFFFFF!important;
}

.inputFiledPlaceHolder {
  font-family: 'Open Sans' !important;
}