<!--
   @File Name          : ct_AddressValidator.html
   @Description        : AFD Address verification Lightning Web Component
   @Author             : Creation Admin
   @Group              : 
   @Last Modified By   : Umashankar Creation
   @Last Modified On   : 6/19/2020, 3:12:33 PM
   @Modification Log   : 
   Ver       Date            Author      		    Modification
   1.0    2/28/2020   Creation Admin     Initial Version
   -->
<template>
    <!-- Address List Box-->
    <div>
       <div class="slds-form-element">
        <template if:true={showSpinner}>
          <lightning-spinner alternative-text="Searching" size="small"></lightning-spinner>
        </template>
          <label class="uopInputFieldLabel slds-form-element__label">Find my address</label>
          <div class={getStyleClass}>
             <div class={getContainerClass}>
                <div class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                   <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                      <input type="text" class="inputFieldPlaceHolder slds-input slds-combobox__input" id="combobox-unique-id-7" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="Please start your address or enter postcode" value={searchString} onchange={onInputFieldChange} onclick={onInputFieldChange}></input>
                      <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                         <lightning-icon icon-name="utility:search" alternative-text="Search Address" size="x-small"></lightning-icon>
                         
                      </span>
                   </div>
                   <div>
                   <template if:true={isAddress}>
                      <div id="listbox-unique-id" role="listbox">
                         <ul class="slds-listbox slds-listbox_vertical slds-dropdown slds-dropdown_fluid" role="presentation" style="height: 10rem; overflow-y: scroll; display: block; min-width: auto; max-width: 100% ; width: 100%;"  >                           
                            <template for:each={addressList} for:item="address" for:index="index">
                            
                               <li key={address.label} title={address.label} role="presentation" class="slds-listbox__item" data-selectedindex={address.value} onclick={handleSelectedAddress}>
                                  <div class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                     
                                     <span class="slds-listbox__option-text slds-listbox__option-text_entity" name={index}>{address.label}</span>
                                   
                                  </div>
                               </li>
                            
                            </template>
                                </ul>
                                 
                                </div>
                                </template>
                                
                              </div>
                                </div>
                                
                                </div>
                                <div class="slds-grid">
                                  <button class="inactiveButton slds-button slds-button_destructive slds-align_absolute-center" style="border-radius: 0px;" onclick={verifyAddress} >Find address</button>                                           
                                </div>
                                </div>
                                <template if:true={showError}>
                                  <label style={errTxtStyle} class="slds-form-element__label slds-align_absolute-left"> Please enter the address to search.</label>
                                </template>
                                </div>
                                </div>
<!--End-->

</template>