<!--
  @File Name          : ct_OpportunityAmountChangesChart.html
  @Description        : To show the Opportunity Amount changes based on time in chart
  @Author             : Rajeshkumar  - Creation Technology Solutions
  @Last Modified By   : Rajeshkumar  - Creation Technology Solutions
  @Last Modified On   : 23/4/2020, 7:13:44 pm
-->
<template>

  <lightning-card title="Changes in Donation Amount Chart" icon-name="standard:report">

    <template if:false={noDataToDrawCart}>
      <div class="slds-m-around_medium">
        <canvas class="stepped"></canvas>
      </div>
    </template>

    <template if:true={noDataToDrawCart}>
      <p style="text-align:center">There is no Opportunity Amount changes happened in this record.</p>
    </template>
  </lightning-card>

</template>