<template>
    <div class="slds-grid slds-gutters">
        <div class="slds-col">
        <span>
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                <input type="text" class="inputFieldPlaceHolder slds-input slds-combobox__input" id="combobox-unique-id-7" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="By Session Title" onchange={onTitleChange}  /> 
                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                   <lightning-icon icon-name="utility:search" alternative-text="Search Address" size="x-small"></lightning-icon>
                </span>
             </div>
        </span>
        </div>
        <div class="slds-col">
        <span>
            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right" role="none">
                <input type="text" class="inputFieldPlaceHolder slds-input slds-combobox__input" aria-autocomplete="list" aria-controls="listbox-unique-id" autocomplete="off" role="textbox" placeholder="By Track" onchange={onTrackChange} /> 
                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                   <lightning-icon icon-name="utility:search" alternative-text="Search Address" size="x-small"></lightning-icon>
                </span>
             </div>
        </span>
        </div>
        <!-- <div class="slds-col">
        <span>
            <button class="inactiveButton slds-button slds-button_destructive slds-align_absolute-center" style="border-radius: 0px;"  >Confirm Session</button>                                           
        </span>
        </div> -->
        </div>
</template>