<!--
  @File Name          : ct_DirectDebitCancellation.html
  @Description        : LWC Component to Cancel Direct Debit 
  @Author             : Creation Admin
  @Group              : 
  @Last Modified By   : Creation Admin
  @Last Modified On   : 6/16/2020, 2:35:13 PM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    4/30/2020   Creation Admin     Initial Version
-->
<template>
  
  <div class="titleHeading slds-text-heading_medium slds-p-bottom_x-small" style="text-align: center;"><b>Direct Debit Cancellation</b></div>
  <div style="position: relative;">
  <template if:true={showSpinnerBoolean}>
    <div>
       <lightning-spinner alternative-text="Loading"  variant="brand" size="medium"></lightning-spinner>
    </div>
  </template>
<template if:true={isCancellationSuccessfull}>
    <div class="slds-box_x-small slds-box slds-theme--error slds-p-top--small" style="font-family: 'Encode Sans'; text-align: center;">
      Warning
  </div>
  <div class="titleHeading slds-text-heading_medium slds-p-top--large" style="font-size: x-large !important; text-align: center;"><b>This Direct Debit is already cancelled.</b></div>
  </template>

<template if:false={isCancellationSuccessfull}>
  <template if:true={showModal}>
  <div class="slds-box_x-small slds-box slds-theme--error slds-p-top--small" style="font-family: 'Encode Sans Expanded', sans-serif; text-align: center;">
      Warning
  </div>
  
  <p class="uopNote slds-p-top--small">
      Please check the box below &amp; then click <b>Next</b> to cancel this Direct Debit.
  </p>
  
  <p class="uopNote slds-p-top--small">
      This action will result in:
  </p>
  
  <ul class="slds-list_dotted slds-p-top--small uopNote">
      <li>This Direct Debit (Recurring Donation) being cancelled</li>
      <li>The DDI Authorisation being cancelled</li>
      <li>Any open Opportunities being Closed Lost</li>
      <li>Any payments related to the Opportunities being 'Written Off'</li>
  </ul>
  
  <p class="uopNote slds-p-top--small">
      You will not be able to re-activate this Direct Debit if cancelled. You will need to set up a new Direct Debit &amp; then gain Authorisation from the donor once more.
  </p>
  
  <div class="slds-grid slds-wrap slds-p-vertical--small">
      <div class="slds-p-vertical--small slds-col slds-size_1-of-2">
          <span class="uopInputFieldLabel" style="font-weight: bold;">DD Cancellation Reason</span>
      </div>
      <div class="slds-p-vertical--small slds-col slds-size_1-of-2">
          <span>
        <lightning-combobox 
          variant="label-hidden"
          name="DD_Cancellation_Reason__c"
          class="formInput inputFiledPlaceHolder" 
          placeholder="Please select cancellation reason" 
          value={thisDirectDebit.DD_Cancellation_Reason__c} 
          options={pickListValuesObject.DD_Cancellation_Reason__c}
          required
          onchange={onInputFieldOnChange} ></lightning-combobox>
      </span>
      </div>
      <div class="slds-p-vertical--small slds-col slds-size_1-of-2">
          <span class="uopInputFieldLabel" style="font-weight: bold;">DD Cancellation Description</span>
      </div>
      <div class="slds-p-vertical--small slds-col slds-size_1-of-2">
          <span>
          <lightning-textarea required class="formInput" name="DD_Cancellation_Description__c" onchange={onInputFieldOnChange} variant="label-hidden" value={thisDirectDebit.DD_Cancellation_Description__c}></lightning-textarea>
    </span>
      </div>
  </div>
  
  
  
  <div class="slds-grid slds-wrap slds-align_absolute-center" style="widows: 80%;">
    <div class="slds-col slds-size_1-of-10">
      <span>  
        <lightning-input type="checkbox" variant="label-hidden" label="I Confirm that I want to cancel this Direct Debit now" onchange={handleConfirmChange} name="isConfirm"></lightning-input>
      </span>
    </div>
    <div class="slds-col slds-size_9-of-10">
      <span class="uopInputFieldLabel">I confirm that I want to cancel this Direct Debit now</span>
    </div>
  </div>
  
  <div class="slds-grid slds-p-vertical_small slds-align_absolute-center" >
    
      <div>
        <button 
           type="button" 
           name="Cancel" 
           value="Cancel" 
           onclick={redirectToDDRecord}
           class="inactiveButton slds-button slds-button_destructive">Cancel</button>
     </div>
  
     <div class="slds-p-horizontal--x-small">
       <button 
          type="button" 
          name="Next" 
          value="Next" 
          onclick={handleNext}
          disabled ={nextDisabled}
          class="activeButton slds-button slds-button_success">Next</button>
    </div>
  </div>
  
  
  
  </template>
</template>
</div>
</template>